{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}

<article
    class="lb-post list-group-item show-author-avatar advertisement"
    data-post-id="{{ item._id }}">
    <div class="lb-post-header">
        <div class="lb-type lb-type--{{ item.type }}"></div>

        <div class="lb-post-date-icons">
            <div class="lb-advertisement">{{ translate('Advertisement') }}</div>
        </div>
  </div>

  <!-- post start -->
  <div class="items-container">
    <!-- item start -->
    <div class="lb-item {{ item.type }}">
        <article>{{ item.text | safe }}</article>
    </div>
    <!-- item end -->
  </div>
  <!-- post end -->

  <div class="lb-post-bottom">

    <div class="lb-post-actions">

      <div class="lb-post-share">
        <img src="{{ assets_root }}images/action_share.svg" class="lb-post-shareIcon" />
        <div class="lb-post-shareBox">
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//www.facebook.com/sharer.php?u="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_facebook.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//plus.google.com/share?url="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_google.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//www.linkedin.com/shareArticle?mini=true&url="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_linkedin.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//twitter.com/intent/tweet?text="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_twitter.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=1024,height=768');return false;"
            data-link-base="mailto:?to=&subject=Liveblog&body="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_email.svg"/>
          </a>
          <span> | </span>
        </div>
      </div>
      <!-- end share -->

      <!-- permalink -->
      <div class="lb-post-permalink">
        <a id="{{ item._id }}" target="_blank">
          <img src="{{ assets_root }}images/action_link.svg" class="lb-post-linkIcon" />
        </a>
      </div>
      <!-- end permalink -->

    </div>

</article>
