{% extends "template-post.html" %}

{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}
{% set mainItem = item.groups[1].refs[0].item %}
{% set postDate = item.published_date %}
{% set type = item.post_items_type %}
{% set galleryItem = false %}

{% if mainItem.commenter %}
  {% if item.groups[1].refs|length > 1 %}
    {% set type = 'comment' %}
  {% endif %}
  {% set postDate = mainItem._created %}
  {% if mainItem.meta._created %}
    {% set postDate = mainItem.meta._created %}
  {% endif %}
{% endif %}


{% block post_header %}
  <div class="lb-post-header">
    {% if settings.authorPosition == "top"  %}
      {% include "template-author.html" %}
    {% endif %}

    <div class="lb-post-updated">
      <span>|&nbsp;&nbsp;</span> <span class="lb-post-updated-time relativeDate{% if settings.clientDatetimeOnly %} mod--displaynone{% endif %}" data-js-timestamp="{{ postDate }}">{{postDate | date('')}}</span>
    </div>
  </div>
{% endblock %}

{% block post_body %}
{{ super() }}

{% include "template-embed-providers.html" %}
{% include "template-gdpr-consent-placeholder.html" %}
{% endblock %}

{% block post_footer %}
  <div class="lb-post-bottom">
    {% if settings.showUpdateDatetime and (item.content_updated_date != item.firstcreated) and item.post_items_type != "advertisement" %}
      <div class="lb-post-updated">
        <span>{{ translate('Updated') }}</span> <span class="lb-post-updated-time relativeDate{% if settings.clientDatetimeOnly %} mod--displaynone{% endif %}" data-js-timestamp="{{item.content_updated_date}}">{{item.content_updated_date | date('')}}</span>
      </div>
    {% endif %}

    {% if settings.authorPosition == "bottom"  %}
      {% include "template-author.html" %}
    {% endif %}
  </div>
{% endblock %}
