{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Cookies Enabler JS</title>
  <meta name="description" content="Cookies-enabler.js is a easy-to-use pure Javascript solution for preventively blocking third-party cookies installed by js and comply with the EU cookie law.">

  <!-- <link rel="stylesheet" href="page.css">
  <link rel="stylesheet" href="cookies-enabler.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


</head>
<body>



<div data-timeline class="lb-timeline {{ settings.language }}">
  {% block timeline_top %}

  {% if settings.showTitle and blog.title %}
    <h1>{{ blog.title }}</h1>
  {% endif %}

  {% if settings.showDescription and blog.description %}
    <div class="description">
      {{ blog.description | safe }}
    </div>
  {% endif %}

  {% if settings.showImage and blog.picture_url %}
    <img src="{{ blog.picture_url }}" />
  {% endif %}

  {% if settings.stickyPosition == 'top'%}
    <div class="timeline-top timeline-top--loaded">
      <section data-timeline-sticky class="lb-posts list-group{% if not api_response.stickyPosts._items|length %} sticky--empty{% endif %}">
        {% for item in api_response.stickyPosts._items %}
          {% if not item.deleted %}
            {% include "template-post.html" %}
          {% endif %}
        {% endfor %}
      </section>
    </div>
  {% endif %}

  {% endblock %}


  {% block timeline_header %}
  <!-- Header -->
  <div class="header-bar">
    {% if not settings.hidePostOrder %}
      <div class="sorting-bar">
        <div class="sorting-bar__orders">
          <div class="sorting-bar__dropdownBtn" data-js-sort_dropdown_button>
            {% if settings.postOrder == 'editorial' %}
              {{  translate("Editorial") }}
            {% elif settings.postOrder == 'newest_first' %}
              {{  translate("Newest first") }}
            {% elif settings.postOrder == 'oldest_first' %}
              {{ translate("Oldest first") }}
            {% endif %}
          </div>
          <div class="sorting-bar__dropdownContent">
            <div
              class="sorting-bar__order {%if settings.postOrder == 'editorial' %}sorting-bar__order--active{% endif %}"
              data-js-orderby_editorial>
              {{  translate("Editorial") }}
            </div>
            <div
              class="sorting-bar__order {%if settings.postOrder == 'newest_first' %}sorting-bar__order--active{% endif %}"
              data-js-orderby_descending>
              {{  translate("Newest first") }}
            </div>
            <div
              class="sorting-bar__order {%if settings.postOrder == 'oldest_first'%}sorting-bar__order--active{% endif %}"
              data-js-orderby_ascending>
              {{ translate("Oldest first") }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="header-bar__actions"></div>
      {% if settings.hasHighlights %}
          <button class="header-bar__highlight" data-js-show-highlighted><span>{{ translate('Highlights') }}</span></button>
      {% endif %}

      {% if settings.canComment %}
        <button class="header-bar__comment" data-js-show-comment-dialog>
            {{ translate("Comment") }}
        </button>
      {% endif %}

      {% if settings.showLiveblogLogo or output.logo_url %}
        {% if output.logo_url %}
        <div class="header-bar__logo">
          <img src="{{ output.logo_url }}"/>
        </div>
        {% else %}
        <a class="header-bar__logo" href="https://www.liveblog.pro" target="_blank">
          <span>{{ translate("Powered by") }}</span>
          <img src="{{ assets_root }}images/lb-logo.svg" />
        </a>
        {% endif %}
      {% endif %}
    </div>
  <!-- Header End -->
  {% endblock %}

  <!-- Comment -->
  {% if settings.canComment %}
    {% include "template-comment.html" %}
  {% endif %}
  <!-- Comment End -->

  {% block timeline_body %}
  <!-- Timeline -->
  <div class="timeline-body timeline-body--loaded">
      <div data-one-new-update class="lb-post new-updates mod--displaynone">
        <div>{{ translate("See one new update") }}</div>
      </div>
      <div data-new-updates class="lb-post new-updates mod--displaynone">
        <div>{{ translate("See new updates") }}</div>
      </div>
    {% if settings.stickyPosition == 'bottom' %}
      <section data-timeline-sticky class="lb-posts list-group sticky{% if not api_response.stickyPosts._items|length %} sticky--empty{% endif %}">
        {% for item in api_response.stickyPosts._items %}
          {% if not item.deleted %}
            {% include "template-post.html" %}
          {% endif %}
        {% endfor %}
      </section>
    {% endif %}
      <div data-empty-message class="lb-post empty-message {% if api_response.posts._items|length %}mod--displaynone{% endif %}">
        <div>{{ translate("No posts for now") }}</div>
      </div>
      <section data-timeline-normal class="lb-posts list-group normal">
        {% if api_response.posts._items|length > 0 %}
            {% for item in api_response.posts._items %}
              {% if not item.deleted %}
                {% include "template-post.html" %}
              {% endif %}
            {% endfor %}
        {% endif %}
      </section>
      {% if api_response.posts._meta.max_results < api_response.posts._meta.total %}
        <button data-load-more class="lb-button load-more-posts">
            {{ translate("Load more posts") }}
        </button>
      {% endif %}
      
      <div>
        <section>
          <h4>Twitter iframe</h4>
          <iframe class="ce-iframe"  frameborder="0" height="250" width="550" 
          data-ce-src="https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fjack%2Fstatus%2F20"></iframe>
          <iframe class="ce-iframe" data-ce-src="https://www.instagram.com/p/BjiMOIiA682/embed/captioned/?cr=1&amp;v=8&amp;wp=465#%7B%22ci%22%3A5%2C%22os%22%3A2409.0999999989435%7D" allowtransparency="true" frameborder="0" height="723"  scrolling="no" 
          style="border-radius: 4px; box-shadow: none; display: block; padding: 0px; border: 1px solid rgb(219, 219, 219); margin: 0px 0px 12px;">
        </iframe>

        <div>
          <font style="vertical-align: inherit; font-weight: bold;">Homage to "The Sound of Music"</font>
          <p>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">As every time, the Life Ball is subject to a theme that inspires guests to their outfits and stage decoration as theme of the opening show. </font>
              <font style="vertical-align: inherit;">This year, the musical film "The Sound of Music" from 1965 serves as the template. The Broadway premiere was in 1959, and production in London started in 1961.</font>
            </font>
          </p>
          <div class="image body">
            <img src="https://orf.at/static/images/site/news/20180622/lifeball_lifeticker_20180602-row24666.4822361.jpg" alt="Preparing for the Lifeball" title="© ORF.at/Roland Winkler" width="472" height="315">
            <p class="credit">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">ORF.at/Roland Winkler</font>
              </font>
            </p>
          </div>
          <p><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">The film is set in the 1930s and is about the singing family choir Trapp. </font>
            <font style="vertical-align: inherit;">The historic Trapp family escaped from the National Socialists in 1938 via Switzerland to the United States, where it gained great fame. </font>
            <font style="vertical-align: inherit;">Ball guests from English-speaking countries will probably be able to sing along better than Austrian songs. </font>
            <font style="vertical-align: inherit;">In this country, the film is almost unknown, you know that it exists, but hardly anyone has seen him.</font></font><br>
          </p>
        </div>

        <div>
          <iframe class="ce-iframe" data-ce-src="https://player.vimeo.com/video/1084537" width="200" height="281" frameborder="0" allowfullscreen></iframe>
        </div>

        <iframe width="360" height="315" class="ce-iframe"  data-ce-src="https://www.youtube.com/embed/ZSn3Tvc7jQU" frameborder="0" allowfullscreen></iframe>

        <iframe class="ce-iframe" data-ce-src="https://www.facebook.com/plugins/comment_embed.php?href=https%3A%2F%2Fwww.facebook.com%2Fzuck%2Fposts%2F10102577175875681%3Fcomment_id%3D1193531464007751%26reply_comment_id%3D654912701278942&width=560&include_parent=false&height=136&appId" width="560" height="136" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
        </iframe>

        <div class="content">
          <h3 class="title">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Postcard kitsch as a backdrop</font>
            </font>
          </h3>
          <div>
            <p><font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">For the second time, set designer Amra Bergman was responsible for the setting, which this year, how could it be otherwise, offers a lot of alpine scenery: a puzzle of meadows and mountains, with edelweiss, an oversized cuckoo clock and folk couple in the midst of butterflies and deer.</font>
            </font></p>
            <div class="image body">
              <img src="https://orf.at/static/images/site/news/20180622/lifeball_lifeticker_20180602-row24647.4822354.jpg" alt="Preparations for the Lifeball at the Vienna City Hall" title="© ORF.at/Roland Winkler" width="472" height="315">
              <p class="credit"><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">ORF.at/Roland Winkler</font>
              </font></p>
            </div>
            <p><font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">For the opening show Bergman promised some surprises, as effects were built into the scenery.</font>
              <font style="vertical-align: inherit;">For this purpose, an LED area of &#8203;&#8203;more than 200 square meters will be used.</font></font>
            </p>
          </div>
        </div>

        <div id="instaPost">
          <iframe class="ce-iframe" data-ce-src="https://www.instagram.com/p/Bjhv7fYh2f6/embed/captioned/?cr=1&amp;v=8&amp;wp=465#%7B%22ci%22%3A2%2C%22os%22%3A2554512.700000001%7D" allowtransparency="true" frameborder="0" height="837" data-instgrm-payload-id="instagram-media-payload-2" scrolling="no" style="border-radius: 4px; box-shadow: none; display: block; padding: 0px; border: 1px solid rgb(219, 219, 219); margin: 0px 0px 12px;"></iframe>
          <blockquote class="instagram-media" id="myBlock" data-instgrm-captioned="" data-instgrm-permalink="" data-instgrm-version="8">
            <div> 
              <div> 
                <div></div>
              </div>
              <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> 
                <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
                </div>
              </div>  
              <p> <a href="https://www.instagram.com/p/Bjhv7fYh2f6/" target="_blank">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">#lifeball ❤ We are ready to rock the ball! </font>
                  <font style="vertical-align: inherit;">#ospi #spi #indulgence # lifeball2018 #indulgence #sisters #sistersofperpetualindulgence #orden #loveislove #dragnuns #queersisters #sisterdaphne #stophomophobia #nohate #noguilt #universaljoy #enjoylove #enjoylife #austria #esterreich #wien #vienna #lifeball #life #knowyourstatus #knowyourstatus_lifeball #instanun #instasister #arcotelhotels #arcoteldonauzentrum</font>
                </font></a>
              </p> 
              <p><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">A post shared by </font>
              </font>
              <a href="https://www.instagram.com/ospi.berlin/" target="_blank">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Perpetual Indulgence - OSPI</font>
                </font>
              </a>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"> (@ ospi.berlin) on</font>
              </font>
              <time datetime="2018-06-02T15:28:48+00:00">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Jun 2, 2018 at 8:28 am PDT</font>
                </font>
              </time>
            </p>
          </div>
        </blockquote>
      </div> 
    </section>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h6 class="modal-title">View Social Media</h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div  class=" text-center">
              <p class="text-justify">It is currently showing elements of social networks such as Twitter, Facebook, Instagram or YouTube in a reduced preview. Your browser does not exchange data with these networks. However, images, videos and similar interactive elements can not be displayed in this way. To fully display content from social networks, you can:</p>
              <button class="btn btn-sm btn-default ce-accept" id="activate" data-dismiss="modal">Activate</button><hr>
              <button class="btn btn-sm btn-warning ce-disable" data-dismiss="modal">Do Not Activate</button>
              <p class="text-justify">The reduced preview will continue to be displayed. The browser does not exchange data with the networks. At the same time, images and videos that may be relevant to the content of the current article are not displayed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <!-- Timeline End -->

  {% endblock %}

</div>
</body>
</html>

{% include "template-embed-providers.html" %}

{% if include_js_options %}
<!-- <script src="./js/theme/cookies-enabler.js"></script> -->
  <script type="text/javascript">
    window.LB = {{ json_options|safe }};
    
  </script>
{% endif %}

