<figure>
    <div class="lb-slideshow_imageContainer">
        <img
          {% if ref.item.active %}class="active"{% endif %}
          src="{{ ref.item.meta.media.renditions.thumbnail.href }}"
          srcset="{{ ref.item.meta.media.renditions.baseImage.href }} 810w,
          {{ ref.item.meta.media.renditions.thumbnail.href }} 240w,
          {{ ref.item.meta.media.renditions.viewImage.href }} 540w"
          alt="{{ ref.item.meta.caption }}">
    </div>
    <figcaption>
        {% if ref.item.meta.caption %}
        <span class="caption">
            {{ ref.item.meta.caption }}
        </span>&nbsp;
        {% endif %}
        {% if ref.item.meta.credit %}
        <b>{{ translate('credit:') }}</b>
        <span class="credit">{{ ref.item.meta.credit }}</span>
        {% endif %}
    </figcaption>
</figure>
      