{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}
{% set mainItem = item.groups[1].refs[0].item %}
{% set postDate = item.published_date %}
{% set type = item.post_items_type %}
{% set galleryItem = false %}

{% if mainItem.commenter %}
  {% if item.groups[1].refs|length > 1 %}
    {% set type = 'comment' %}
  {% endif %}
  {% set postDate = mainItem._created %}
  {% if mainItem.meta._created %}
    {% set postDate = mainItem.meta._created %}
  {% endif %}
{% endif %}

<!-- sticky position toggle -->
{% if item.sticky and settings.stickyPosition == 'top' %}
<article
  class="lb-sticky-top-post list-group-item {{ type }} {% if displaynone %}mod--displaynone{% endif %}"
  data-post-id="{{ item._id }}"
  data-post-sticky="{{ item.sticky }}">
  {% else %}
<article
  class="lb-post list-group-item show-author-avatar {{ type }} {% if item.lb_highlight %}lb-post--highlighted{% endif %} {% if displaynone %}mod--displaynone{% endif %}"
  data-post-id="{{ item._id }}"
  data-post-sticky="{{ item.sticky }}">

  {% block post_header %}
  <div class="lb-post-header">

    <div class="lb-type lb-type--{{ item.post_items_type }}"></div>

    <div class="lb-post-date-icons">
      {% if item.sticky and item.lb_highlight %}
        <img src="{{ assets_root }}images/pinpost.svg" class="pin-icon" />
        <img src="{{ assets_root }}images/highlighted.svg" class="highlight-icon" />
      {% elif item.sticky %}
        <img src="{{ assets_root }}images/pinpost.svg" class="pin-icon" />
      {% elif item.lb_highlight %}
        <img src="{{ assets_root }}images/highlighted.svg" class="highlight-icon" />
      {% elif item.post_items_type == "advertisement" %}
        <div class="lb-advertisement">{{ translate('Advertisement') }}</div>
      {% endif %}

      <!-- remove advertisement stylization-->
      {% if item.post_items_type != "advertisement" %}
        <div class="lb-post-date relativeDate{% if settings.clientDatetimeOnly %} mod--displaynone{% endif %}" data-js-timestamp="{{ postDate }}">{{ postDate | date('') }}</div>
      {% endif %}
    </div>

    {% if settings.authorPosition == "top"  %}
      {% include "template-author.html" %}
    {% else %}
      {% include "template-post-actions.html" %}
    {% endif %}
  </div>
  {% endblock %}

  {% endif %}
  <!-- end sticky position toggle -->

  {% block post_body %}
  <!-- post start -->
  <div class="items-container">
  {% if type == "comment" %}
    {% include "template-post-comment.html" %}
  {% else %}
    {% if item and item.groups and item.groups[1] and item.groups[1].refs and (item.groups[1].refs | length > 0) %}
        {% for ref in item.groups[1].refs %}
          {% if ref.item.item_type == "image" %}
            {% if settings.showGallery and loop.index0 + 1 < loop.length and item.groups[1].refs[loop.index0 + 1].item.item_type == "image" and (loop.index0 - 1 < 0 or not (loop.index0 > 0 and item.groups[1].refs[loop.index0 - 1].item.item_type == "image")) %}
              {# this works only for first element in gallery loop bcs variables are scoped in jinja2 #}
              {% set galleryItem = true %}
              <!-- slideshow start -->
              <div class="lb-slideshow">
                <div class="lb-slideshow_frame">
                  <div class="lb-slideshow_slides">
            {% endif %}
            {# if previous item was an image and current item is an image as well = we are inside gallery loop #}
            {% if settings.showGallery and item.groups[1].refs[loop.index0 - 1].item.item_type == "image" %}
              {% set galleryItem = true %}
            {% endif %}
            <!-- image item start -->
            <div class="lb-item {% if ref.item.meta.media.renditions.original.height > ref.item.meta.media.renditions.original.width %}portrait{% endif %}{{ref.item.item_type}}">
          {% else %}
            <!-- item start -->
            <div class="lb-item {{ref.item.item_type}}">
          {% endif %}
          {% if ref.item.item_type == "embed" %}
            {% include "template-item-embed.html" %}
          {% elif ref.item.item_type == "image" and galleryItem %}
            {% include "template-item-galleryImage.html" %}
          {% elif ref.item.item_type == "image" %}
            {% include "template-item-image.html" %}
          {% elif ref.item.item_type == "quote" %}
            {% include "template-item-quote.html" %}
          {% elif ref.item.item_type == "comment" %}
            {% include "template-item-comment.html" %}
          {% else %}
            <article>{{ ref.item.text | safe }}</article>
          {% endif %}
          </div>
          <!-- item end -->
          {% if settings.showGallery and ref.item.item_type == "image" and loop.index0 - 1 >= 0 and item.groups[1].refs[loop.index0 - 1].item.item_type == "image" and item.groups[1].refs[loop.index0 + 1].item.item_type != "image" %}    </div>
                <span class="lb-slideshow_prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
                </span>
                <span class="lb-slideshow_next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
                </span>
              </div>
            </div>
            <!-- slideshow end -->
          {% endif %}
        {% endfor %}
    {% endif %}
  {% endif %}
  </div>
  <!-- post end -->
  {% endblock %}

  {% block post_footer %}
  <div class="lb-post-bottom">
    {% if settings.showUpdateDatetime and (item.content_updated_date != item.firstcreated) and item.post_items_type != "advertisement" %}
      <div class="lb-post-updated">
        <span>{{ translate('Updated') }}</span> <span class="lb-post-updated-time relativeDate{% if settings.clientDatetimeOnly %} mod--displaynone{% endif %}" data-js-timestamp="{{item.content_updated_date}}">{{item.content_updated_date | date('')}}</span>
      </div>
    {% endif %}
    {% if (not item.sticky) or (item.sticky and settings.stickyPosition != 'top') %}
      {% if settings.authorPosition == "bottom"  %}
        {% include "template-author.html" %}
      {% else %}
        {% include "template-post-actions.html" %}
      {% endif %}
    {% endif %}
  </div>
  {% endblock %}

</article>
