<div id="slideshow">
  <div class="container">
    {% for ref in refs %}
      {% include "template-item-image.html" %}
    {% endfor %}
  </div>
  <button class="close"><img src="{{ assets_root }}images/sl_close.svg" /></button>
  <button class="fullscreen"><img src="{{ assets_root }}images/sl_fullscreen.svg" /></button>
  <button class="arrows prev"><img src="{{ assets_root }}images/sl_arrow_previous.svg" /></button>
  <button class="arrows next"><img src="{{ assets_root }}images/sl_arrow_next.svg" /></button>
</div>
