<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
  function getTotalVotes(poll, elementId) {
    let totalVotes = poll.answers.reduce((acc, ans) => acc + ans.votes, 0);
    document.getElementById(elementId).innerText = totalVotes;
  }

  function getTimeLeft(poll, elementId, buttonId) {
    let now = moment();
    let activeUntil = moment(poll.active_until);
    let timeLeft = activeUntil.fromNow();

    if (activeUntil.isBefore(now)) {
      document.getElementById(elementId).innerText = "Poll closed";
      document.getElementById(buttonId).style.display = "none";
    } else {
      document.getElementById(elementId).innerText = "Ends " + timeLeft;
    }
  }
</script>
