<script>
    function processInstagram() {
        try{
            instgrm.Embeds.process();
            console.log('processing instagram embeds');
        } catch(err) {console.log('instgrm script not loaded')}
    }

    function processTwitter() {
        try{
            twttr.widgets.load();
            console.log('processing twitter embeds');
        } catch(err) {console.log('twttr script not loaded')}
    }

    window.fbAsyncInit = function() {
        try {
            FB.init({ xfbml: true, version: 'v6.0' });
            console.log('init facebook script');
        } catch(err) {console.log('facebook script not loaded')}
    }
</script>

<template class="lb_consent--awaiting" data-provider-url="http://instagram.com" data-no-placeholder>
<script async defer src="https://platform.instagram.com/en_US/embeds.js" onload="processInstagram()"></script>
</template>

<template class="lb_consent--awaiting" data-provider-url="http://twitter.com" data-no-placeholder>
<script async defer src="https://platform.twitter.com/widgets.js" onload="processTwitter()"></script>
</template>

<template class="lb_consent--awaiting" data-provider-url="http://facebook.com" data-no-placeholder>
<script async defer src="https://connect.facebook.net/en_US/all.js#xfbml=1&status=0&appId="></script>
</template>

<template class="lb_consent--awaiting" data-provider-url="http://youtube.com" data-no-placeholder>
<script async defer src="https://www.youtube.com/player_api"></script>
</template>

<script src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<style class="embedly-css">
    .card .hdr{
      display: none;
    }
    body#cards {
        padding: 0px;
    }
</style>
<script>
    embedly("defaults", {
        cards: {
            key: '82645d4daa7742cc891c21506d28235e',
            align: 'left',
            chrome: 0
        }
    });
</script>

<script>
    var SET_FLAG = 'player-set';
    window.playersState = {};

    function playerStateUpdate(playerId, isPlaying) {
        window.playersState[playerId] = isPlaying;
    }

    // Handles direct youtube video embeds
    function onYouTubeIframeAPIReady() {
        var iframes = document.querySelectorAll("iframe[src^='https://www.youtube.com']");

        iframes.forEach(function (iframe) {
            if (iframe.getAttribute(SET_FLAG)) return;

            new YT.Player(iframe, {
                events: {
                    'onReady': function () { iframe.setAttribute(SET_FLAG, 1); },
                    'onStateChange': function(event) {
                        var playerId = event.target.a.id;
                        var isPlaying = event.data === YT.PlayerState.PLAYING;
                        playerStateUpdate(playerId, isPlaying);
                    }
                }
            });
        });
    }

    // Handles embedly players
    function onPlayerJSReady () {
        var embedlyIframes = document.querySelectorAll("iframe[src*='cdn.embedly.com/widgets/media']");

        embedlyIframes.forEach(function (iframe) {
            if (iframe.getAttribute(SET_FLAG)) return;

            // set id to be used later
            if (!iframe.id) {
                var parentId = iframe.closest('[data-post-id]').getAttribute('data-post-id');
                iframe.id = "iplayer_" + parentId;
            }

            var player = new playerjs.Player(iframe);

            player.on(playerjs.EVENTS.PLAY, function() {
                playerStateUpdate(iframe.id, true);
            });

            player.on(playerjs.EVENTS.ENDED, function() {
                playerStateUpdate(iframe.id, false);
            });

            player.on(playerjs.EVENTS.PAUSE, function() {
                playerStateUpdate(iframe.id, false);
            });

            // flag to know if this it's been wired
            iframe.setAttribute(SET_FLAG, 1);
        });
    }
</script>
<script async defer src="https://cdn.embed.ly/player-0.1.0.min.js" onload="onPlayerJSReady()"></script>