{% if post.post_items_type != "advertisement" %}
<!-- author plus avatar -->
<div class="lb-author {% if settings.authorPosition == "bottom"  %}lb-author--bottom{% endif %}">
    {% if mainItem.commenter and not (item.syndication_in and not settings.showSyndicatedAuthor) %}
      <div class="lb-author__name">
        {{ translate('Comment by') }} {{ mainItem.commenter }}
      </div>
      <img
        class="lb-author__avatar lb-author__avatar--comment"
        src="{{ assets_root }}images/comment_icon.svg"
        alt="Comment by {{ mainItem.commenter }}"
      >
    {% elif settings.showAuthor %}
      <div class="lb-author__name">
      {% if post.syndicated_creator and settings.showSyndicatedAuthor %}
        {{ post.syndicated_creator.display_name }}
      {% elif mainItem.syndicated_creator and settings.showSyndicatedAuthor %}
        {# keep this elif condition for legacy compatibility for now #}
        {{ mainItem.syndicated_creator.display_name }}
      {% elif post.original_creator %}
        {{ post.original_creator[settings.authorNameFormat] }}
      {% elif post.publisher %}
        {{ post.publisher.display_name }}
      {% endif %}

      {% if post.syndication_in and not settings.showSyndicatedAuthor %}
        <span class="lb-producer{% if settings.showSyndicatedAuthor %} lb-producer__author{% endif %}">
          {{ post.syndication_in.producer_blog_title }}
        </span>
      {% endif %}

      </div>
      {% if type == 'comment' %}
        <img
          class="lb-author__avatar lb-author__avatar--comment"
          src="{{ assets_root }}images/comment_icon.svg"
          alt="Comment by {{ mainItem.commenter }}"
        >
      {% endif %}
      {% if settings.showAuthorAvatar and type != 'comment' %}
        {% if mainItem.syndicated_creator and settings.showSyndicatedAuthor and mainItem.syndicated_creator.picture_url %}
        <img
          class="lb-author__avatar"
          src="{{ mainItem.syndicated_creator.picture_url }}"
          alt="{{ mainItem.syndicated_creator.display_name }}"
        />
        {% elif post.original_creator and post.original_creator.picture_url %}
        <img
          class="lb-author__avatar"
          src="{{ post.original_creator.picture_url }}"
          alt="Author {{ post.original_creator.display_name }}"
        />
        {% elif post.publisher and post.publisher.picture_url %}
        <img
          class="lb-author__avatar"
          src="{{ post.publisher.picture_url }}"
          alt="Publisher {{ post.publisher.display_name }}"
        />
        {% else %}
        <div class="lb-author__avatar"></div>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <!-- end author -->
{% endif %}