{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}

<article
    class="lb-post list-group-item show-author-avatar advertisement"
    data-post-id="{{ item._id }}">
    <div class="lb-post-header">
        <div class="lb-type lb-type--{{ item.type }}"></div>

        <div class="lb-post-date-icons">
            <div class="lb-advertisement">{{ translate('Advertisement') }}</div>
        </div>
  </div>

  <!-- post start -->
  <div class="items-container">
    <!-- item start -->
    <div class="lb-item {{ item.type }}">
        <article>{{ item.text | safe }}</article>
    </div>
    <!-- item end -->
  </div>
</article>
