div.mp-embed-modal div.modal-body,
div.mp-embed-modal div.modal-body iframe {
    margin: 0;
    padding: 0;
}

div.mp-embed-modal div.modal-content div.modal-body {
    overflow-y: hidden;
}

div.mp-embed-modal div.modal-body div.settings,
div.mp-embed-modal div.modal-body iframe {
    margin-top: 47px;
}

div.mp-embed-modal div.modal-body iframe {
    min-height: 400px;
}

div.mp-embed-modal div.modal-body div.settings {
    padding: 10px 15px;
}
