<div class="lb-timeline">
    <h1>
        {{ timeline.blog.title }}
        <small>
            {{ timeline.blog.description }}
            <span class="badge">{{ timeline.pagesManager.meta.total }} posts</span>
        </small>
    </h1>
    <a ng-click="timeline.retrieveUpdate(true)"
        class="btn btn-info">Update <span class="badge">{{ timeline.updatesAvailable }}</span></a>
    <label>
        <input type="checkbox" ng-model="timeline.autoUpdate"> Auto update
    </label>
    <ul class="lb-posts list-group">
        <li lb-post ng-repeat="post in timeline.pagesManager.allPosts() track by post._id" class="lb-post list-group-item">
            <div lb-item ng-repeat="item in post.items track by item._id" class="lb-item">
                <div ng-bind-html="item.text"></div>
            </div>
        </li>
    </ul>
    <div class="text-center">
        <a  ng-click="timeline.pagesManager.fetchNewPage()"
            class="btn btn-default">Load more posts</a>
    </div>
</div>
