language: python

python:
    - "3.4"

sudo: required
dist: trusty

env:
    global:
        - CXX=g++-4.8
        - secure: ajoP9pA/FYH+1sFwGKHlQ8PoGqRIjdmqEnwo44AA5j6c1NMsgiToA420lPm8Lp0cko5YK3ppBlGlvbRWu5JXVxl0vMtZTLf3FM2w99viddrRCkh4sMef2DzkXXYOW4Tnew/8pmaOtTn3UtNG/feJHkBzHLEDUuN0TA07Y6UaWHc=
    matrix:
        - TARGET=client
        - TARGET=server
        - TARGET=e2e_first_chrome
        - TARGET=e2e_second_chrome
        - TARGET=e2e_third_chrome

services:
    - mongodb
    - elasticsearch
    - redis-server

addons:
  apt:
    sources:
    - mongodb-3.0-precise
    - elasticsearch-1.7
    - ubuntu-toolchain-r-test
    - google-chrome
    packages:
    - mongodb-org-server
    - elasticsearch
    - xvfb
    - build-essential
    - libudev-dev
    - clang-3.3
    - fakeroot
    - git
    - libgnome-keyring-dev
    - g++-4.8
    - google-chrome-stable

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.npm

before_install:
    - nvm install node
    - nvm use node
    - node --version
    - npm config set loglevel warn
    - npm install -g npm@latest grunt-cli
    - cp $TRAVIS_BUILD_DIR/client/config.sample.js $TRAVIS_BUILD_DIR/client/config.js
    - if [ "${TARGET}" = "client" ] || [ "${TARGET}" != "${TARGET/e2e/}" ]; then
        npm install -g grunt-cli ;
      fi
    - if [ "${TARGET}" != "${TARGET/e2e/}" ]; then
        pip install requests &&
        export DISPLAY=:99.0 &&
        /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1920x1080x24 &&
        export CHROME_BIN=`which google-chrome` &&
        $CHROME_BIN --version ;
      fi

install:
    - if [ "${TARGET}" = "server" ] || [ "${TARGET}" != "${TARGET/e2e/}" ]; then
        cd $TRAVIS_BUILD_DIR/server &&
        pip install -r requirements.txt &&
        cd .. ;
      fi
    - if [ "${TARGET}" = "client" ] || [ "${TARGET}" != "${TARGET/e2e/}" ]; then
        cd $TRAVIS_BUILD_DIR/client && npm install && cd .. ;
      fi

before_script:
    - sudo service elasticsearch restart && sleep 5
    - if [ "${TARGET}" != "${TARGET/e2e/}" ]; then
        cd server ;
        (nohup env SUPERDESK_URL='http://127.0.0.1:5000/api' SUPERDESK_CLIENT_URL='http://127.0.0.1:9000' WEB_CONCURRENCY=3 WEB_TIMEOUT=8 SUPERDESK_TESTING='True' honcho start &) ;
        cd ../client ;
        SYNDICATION=true grunt build --server='http://127.0.0.1:5000/api' --ws='ws://127.0.0.1:5100' ;
        cd dist ;
        while [ ! -f index.html ]; do sleep .5; done ;
        (nohup python3 -m http.server 9000 &) ;
        cd $TRAVIS_BUILD_DIR/server ;
        (nohup env SUPERDESK_URL='http://127.0.0.1:5000/api' SUPERDESK_CLIENT_URL='http://127.0.0.1:9000' WEB_CONCURRENCY=3 WEB_TIMEOUT=8 SUPERDESK_TESTING='True' honcho start &) ;
      fi

script:
    - if [ "${TARGET}" = "server" ]; then
        cd $TRAVIS_BUILD_DIR/server && nosetests --all-modules && cd .. ;
      fi
    - if [ "${TARGET}" = "server" ]; then
        cd $TRAVIS_BUILD_DIR/server &&
        behave --format progress2 --logging-level ERROR &&
        cd .. ;
      fi
    - if [ "${TARGET}" = "server" ]; then
        cd $TRAVIS_BUILD_DIR/server && flake8 && cd .. ;
      fi
    - if [ "${TARGET}" = "client" ]; then
        cd client && npm test && cd .. ;
      fi
    - if [ "${TARGET}" != "${TARGET/e2e_first/}" ]; then
        cd $TRAVIS_BUILD_DIR/server &&
        python3 manage.py app:initialize_data;
        python3 manage.py users:create -u admin -p admin -e 'admin@example.com' --admin ;
        python3 manage.py register_local_themes ;
        python3 manage.py schema:migrate ;
        cd ../client &&
        ./node_modules/.bin/webdriver-manager update &&
        ./node_modules/.bin/protractor-flake --node-bin node --max-attempts=1 -- protractor-conf.js --suite=a
          --stackTrace --verbose
          --capabilities.browserName "${TARGET/e2e_first_/}"
        ;
      fi
    - if [ "${TARGET}" != "${TARGET/e2e_second/}" ]; then
        cd $TRAVIS_BUILD_DIR/server &&
        python3 manage.py app:initialize_data;
        python3 manage.py users:create -u admin -p admin -e 'admin@example.com' --admin ;
        python3 manage.py register_local_themes ;
        python3 manage.py schema:migrate ;
        cd ../client &&
        ./node_modules/.bin/webdriver-manager update &&
        ./node_modules/.bin/protractor-flake --node-bin node --max-attempts=1 -- protractor-conf.js --suite=b
          --stackTrace --verbose
          --capabilities.browserName "${TARGET/e2e_second_/}"
        ;
      fi
    - if [ "${TARGET}" != "${TARGET/e2e_third/}" ]; then
        cd $TRAVIS_BUILD_DIR/server &&
        python3 manage.py app:initialize_data;
        python3 manage.py users:create -u admin -p admin -e 'admin@example.com' --admin ;
        python3 manage.py register_local_themes ;
        python3 manage.py schema:migrate ;
        cd ../client &&
        ./node_modules/.bin/webdriver-manager update &&
        ./node_modules/.bin/protractor-flake --node-bin node --max-attempts=1 -- protractor-conf.js --suite=c
          --stackTrace --verbose
          --capabilities.browserName "${TARGET/e2e_third_/}"
        ;
      fi

after_script:
    - killall -9 python
