<form name="consumerForm" class="flat" novalidate ng-submit="save()">
    <div class="action-bar clearfix" ng-class="{show: !consumerForm.$pristine}">
        <button
            id="save-edit-btn"
            type="submit"
            class="btn btn--primary pull-right"
            translate>Save</button>

        <button
            id="cancel-edit-btn"
            type="button"
            class="btn pull-right"
            ng-click="cancel()"
            translate>Cancel</button>
    </div>

    <div class="profile-info editmode syndication">
        <div class="details-info details-info--no-avatar form-flat" ng-class="{shifted : error}">
            <div class="title">{{ 'General' | translate }} <span class="required-info" translate>* mandatory fields</span></div>
            <fieldset class="label-light">
                <div sd-info-item>
                  <label for="name" translate>name</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    ng-model="consumer.name"
                    required ng-readonly="consumer._readonly && consumer._readonly.name">
                  <i ng-show="consumerForm.name.$error.required" class="required-asteriks">*</i>
                  <div
                      class="error"
                      ng-show="consumerForm.attempted && consumerForm.name.$error.required"
                      translate>This field is required</div>
                </div>
                <div sd-info-item>
                  <label for="webhook-url" translate>Webhook Url</label>
                  <input
                    type="text"
                    name="webhook_url"
                    id="webhook-url"
                    ng-model="consumer.webhook_url"
                    required ng-readonly="consumer._readonly && consumer._readonly.webhook_url">
                  <i class="required-asteriks">*</i>
                  <div
                      class="error"
                      ng-show="consumerForm.attempted && consumerForm.webhook_url.$error.required"
                      translate>This field is required</div>
                  <div
                      class="error"
                      ng-show="consumerForm.attempted && consumerForm.webhook_url.issue"
                      translate>{{consumerForm.webhook_url.issue}}</div>
                </div>
            </fieldset>

            <div
                lb-contacts-edit
                contacts="consumer.contacts"
                attempted="consumerForm.attempted"></div>
        </div>
    </div>
</form>
