<div class="panel panel--incoming-syndication">
    <header translate>
        <span>Ingest</span>

        <!--<button class="btn btn-info pull-right" ng-click="openSyndBlogsModal()">-->
        <!--    <i class="svg-icon-add inverse"></i>-->
        <!--</button>-->
    </header>

    <div class="sub-header">
        <button ng-click="goBack()">
            <i class="icon-close-small"></i>
        </button>

        <div class="block">
            <h3>{{syndication.producer_blog_title}}</h3>
            <dl>
                <dt>Producer:</dt>
                <dd>{{syndication.producer.name}}</dd>
                <dt>Autopublish:</dt>
                <dd>{{syndication.auto_publish ? 'True' : 'False'}}</dd>
            </dl>
        </div>
    </div>

    <ul id="syndicated-blogs-list" class="posts">
        <li ng-repeat="post in posts._items">
            <div
                class="lb-post__item"
                lb-bind-html 
                html-content="{{post.mainItem.item.text}}"></div>
        </li>
    </ul>
</div>


