<div class="panel panel--contribution">
    <header translate>
        <span>Ingest</span>

        <button class="btn btn-info pull-right" ng-click="openSyndBlogsModal()">
            <i class="svg-icon-add inverse"></i>
        </button>
    </header>

    <ul id="syndicated-blogs-list">
        <li ng-repeat="blog in locallySyndicatedItems" ng-click="select(blog)">
            <h4>{{blog.blog_token}}</h4>
        </li>
    </div>
</div>

<div 
    lb-attach-syndicated-blogs-modal 
    ng-if="store"
    store="store"></div>
