<div class="subnav">
    <h3 class="page-nav-title" translate>Producers</h3>

    <div class="button-stack right-stack">
        <button class="navbtn sd-create-btn" ng-click="createEntry()"></button>
    </div>
</div>

<section class="main-section users">

    <div class="preview-layout" ng-class="{closed: !selected.producer}">
        <div class="list-pane">
            <header>
                <div sd-searchbar></div>
                <div class="separator-handler"></div>
                <div sd-pagination data-items="producers"></div>
            </header>
            <div class="content">
                <div sd-shadow>
                    <div class="users-table">
                        <ul class="table-header">
                            <li>
                                <div class="row-wrapper">
                                    <div 
                                        class="name" 
                                        sd-sort 
                                        data-label="{{ 'Name' | translate }}" 
                                        data-field="name"></div>

                                    <div 
                                        class="api_key" 
                                        sd-sort 
                                        data-label="{{ 'Api key' | translate }}" 
                                        data-field="api_key"></div>
                                </div>
                            </li>
                        </ul>

                        <ul class="table-body"
                            lb-producer-list
                            data-producers="producers._items"
                            data-selected="selected.producer"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="preview-pane" ng-if="selected.producer">
            <div class="content" sd-user-details-pane ng-if="selected.producer">
                <div
                    id="user-profile-edit" 
                    lb-producer-edit 
                    data-producer="selected.producer" 
                    data-onsave="render(producer)" 
                    data-oncancel="closePreview()"></div>
            </div>
        </div>
    </div>
</setion>
