<li 
    ng-repeat="producer in producers" 
    ng-click="select(producer)" 
    ng-class="{selected: producer === selected}">

    <figure class="avatar avatar-with-info">
        <div class="logged-info"></div>
        <div class="producer-image">
            <img sd-producer-avatar data-producer="producer">
        </div>
    </figure>

    <div class="row-wrapper four-col" sd-col-width>
        <div class="name">{{ producer.name }}</div>
        <div class="email">
            <i
                class="icon-close-small webhook-status off"
                title="Webhook URL unreachable"
                ng-if="producer.api_status === 'invalid_url'"></i>
            <i
                class="icon-warning-sign webhook-status warn"
                title="Invalid webhook URL key"
                ng-if="producer.api_status === 'invalid_key'"></i>
            <i
                class="icon-ok webhook-status on"
                title="Webhook URL up & running"
                ng-if="producer.api_status === 'enabled'"></i>
            <a
                title="Check API status"
                ng-href=""
                ng-click="checkOnlineStatus($event, producer)">
                <i class="icon-refresh true"></i>
            </a>
            <span>{{ producer.api_url }}</span>
        </div>
        <div class="username">{{ producer.consumer_api_key }}</div>
        <div lb-first-contact prosumer="producer"></div>
    </div>

    <div class="action" ng-show="!selected">
        <ul class="item-functions">
            <li class="item-field">
                <a 
                    title="Delete producer"
                    ng-href="" 
                    ng-click="disable($event, producer)"
                    ng-if=":: !activity.dropdown" 
                    class="ng-scope delete-producer">
                    <i class="icon-trash true"></i>
                    <span class="ng-binding">Delete producer</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="alert alert-info" ng-show="producers.length == null">
    <p translate>Loading...</p>
</li>

<li class="alert alert-info" ng-show="producers.length == 0">
    <p translate>Oops! There are no items.</p>
</li>
