<div class="lb-author" ng-if="timeline.settings.showAuthor">
    <div
        ng-if="timeline.settings.showAuthor && timeline.settings.showAuthorAvatar" 
        ng-class="{'lb-author__avatar': (item.item_type !== 'comment'),
                       'lb-author__comment': (item.item_type === 'comment')}">
            <img ng-if="item.item_type !== 'comment'"
                 ng-src="{{ item.original_creator.picture_url }}"
                 ng-srcset="{{ item.original_creator.picture_srcset }}"
                 sizes="(min-width: 1600px) 200px, 60px"/>
    </div>
    <div class="lb-author__date" ng-bind="item.displayDate | prettifyIsoDate"></div>
    <!-- author name, with or without mailto link  -->
    <div ng-if="!post.syndication_in || timeline.settings.showSyndicatedAuthor">   
        <!-- author name, with or without mailto link  -->
        <div ng-if="!timeline.settings.authorNameLinksToEmail || item.item_type === 'comment'"
             class="lb-author__name"
             ng-bind="item.original_creator[timeline.settings.authorNameFormat]">
        </div>
        <div ng-if="timeline.settings.authorNameLinksToEmail && item.item_type !== 'comment'"
             class="lb-author__name">
            <a href="mailto:{{post.mainItem.original_creator.email}}"
               ng-bind="item.original_creator[timeline.settings.authorNameFormat]"></a>
        </div>
    </div>
    <div ng-if="post.syndication_in.producer_blog_title && !timeline.settings.showSyndicatedAuthor"
         class="lb-producer"
         ng-class="{'lb-producer__author': timeline.settings.showSyndicatedAuthor}"
         ng-bind="post.syndication_in.producer_blog_title">
    </div>
</div>