<div ng-if="item.meta.html" class="item--embed" lb-bind-html html-content="{{item.meta.html | fixEmbed}}"></div>
<article 
    ng-if="item.meta.title || item.meta.description || item.meta.credit
        || (!item.meta.html && item.meta.thumbnail_url)"
    class="item--embed item--embed__wrapper">
   <a  ng-href="{{ item.meta.url }}" 
        ng-if="!item.meta.html && item.meta.thumbnail_url"
        target="_blank"
        ng-class="{ 'item--embed__illustration': item.meta.description, 'item--embed__only-illustration': !item.meta.description}">
            <img ng-src="{{ item.meta.thumbnail_url }}"/>
   </a>
   <div class="item--embed__info"
        ng-if="item.meta.title || item.meta.description || item.meta.credit">
        <div class="item--embed__title" ng-if="item.meta.title">
            <a ng-href="{{ item.meta.url }}" target="_blank" ng-bind="item.meta.title"></a>
        </div>
        <div class="item--embed__description" ng-if="item.meta.description" ng-bind="item.meta.description"></div>
        <div class="item--embed__credit" ng-if="item.meta.credit" ng-bind="item.meta.credit"></div>
    </div>
</article>