<div class="modal border-bottom ng-cloak" ng-show="modal">
    <div class="modal-dialog">
        <div ng-show="notify" class="notify">
            <div class="content">
                <div class="modal-header">
                    <h3 translate>Your comment was sent for approval.</h3>
                </div>
            </div>
        </div>
        <div ng-show="form">
            <form name="comment" novalidate ng-submit="send();">
                <div class="content">
                    <div class="modal-header">
                        <h2 translate>Post a comment</h2>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <div class="field">
                                <label for="commenter" translate>Name *</label>
                                <input name="commenter" ng-model="commenter">
                                <div role="alert">
                                    <span class="error" ng-show="commenter.length < 3" translate>Please fill in your Name.</span>
                                    <span class="error" ng-show="commenter.length >30" translate>Name should be maximum 30 characters in length.</span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="content" translate>Comment *</label>
                                <textarea name="content" ng-model="content"></textarea>
                                <div role="alert">
                                    <span class="error" ng-show="content.length < 3" translate>Please fill in your Comment.</span>
                                    <span class="error" ng-show="content.length > 300" translate>Comment should be maximum 300 characters in length.</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="comment=false"><span translate>Cancel</span></button>
                        <button type="submit" class="btn btn-primary"><span translate>Send</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>