<article
         ng-repeat="post in ctrl.allPosts() track by post._id"
         class="lb-post list-group-item ng-cloak "
         ng-class="['lb-mainitem-{{ post.mainItem.item_type | varname }}', {'show-author-avatar': 
                        ctrl.timeline.settings.showAuthor &&
                        ctrl.timeline.settings.showAuthorAvatar &&
                        ctrl.isAd(post),
                    'lb-post-permalink-selected': post._id === timeline.permalink._id}]">
    <span ng-if="ctrl.isAd(post)">
        <lb-author item="post.mainItem" timeline="timeline"></lb-author>
        <div class="lb-post-highlighted" ng-if="post.lb_highlight">
            <i class="icon-star icon--orange"></i>
        </div>
        <div class="lb-post-permalink">
            <a href="{{ ctrl.timeline.permalink.get(post._id) }}" id="{{ post._id }}" target="_blank">
                <i class="icon-link icon--blue"></i>
            </a>
        </div>
    </span>
    <lb-gallery items="post.items" ng-if="ctrl.showGallery(post)"></lb-gallery>
    
    <span ng-if="!ctrl.isAd(post)">
        <div class="lb-advertisement" translate>Advertisement</div>
    </span>
    <span></span>    

    <div ng-repeat="item in post.items track by item._id" class="lb-item">
        <div ng-if="post.fullDetails && !$first" class="list-group-item">
            <div class="lb-timeline__header">
                <lb-author item="item" timeline="ctrl.timeline"></lb-author>
                <lb-item item="item" ident="true" gallery="ctrl.showGallery(post)"></lb-item>
            </div>
        </div>                
        <div ng-if="!post.fullDetails || $first">
            <lb-item item="item" gallery="ctrl.showGallery(post)"></lb-item>
        </div>
    </div>
    <div class="lb-updated-date ng-cloak" ng-show="post.showUpdate" translate>
        Updated {{post.content_updated_date | prettifyIsoDate}}
    </div>
</article>