<p>Dear {{user.first_name}},</p>

<p>Someone has created a {{app_name}} user account for you with username {{user.username}} and this email address.<br/>
Please visit {{url}} to choose your password.</p>

<p>The above link expires in one week (168 hours).</p>

<p>Next time you want to use {{app_name}}, please go to {{instance_url}} and log in as {{username}} with your password.<br/>
See our <a href="https://sourcefabricberlin.zendesk.com/hc/en-us/sections/201858023-Live-Blog-Manual-Features">User manual</a> to help you get started.</p>

<p>Please ignore this email if you think your {{app_name}} account was created by mistake.</p>


<p>Happy blogging,<br/>
The {{app_name}} Team</p>

<p>{{app_name}} is developed by Sourcefabric and the {{app_name}} community.<br/>
Learn more: https://www.sourcefabric.org/en/liveblog/</p>
