<p>Hi there,<p>

<p>Someone invited you to contribute to a Live Blog.<p>
<p>This Live Blog is called "{{title}}"<p>

<p>Please go to {{link}} to contribute to this Live Blog.<p>

<p>Thanks,<p>

<p>The Live Blog Team<p>

<p>Live Blog is developed by Sourcefabric.<p>
<p>Sourcefabric GmbH / Prinzessinnenstr. 20 / 10969 Berlin<p>
<p>+49 (0) 30 616 29 281<p>
<p>contact@sourcefabric.org<p>
<p>Register: Amtsgericht Charlottenburg / HRB 149568 B<p>
<p>Managing Director: Sava Tatic, Fabienne Riener<p>
<p>VAT: DE288649893<p>
