.lb-timeline h1 small {
    display: block;
}

.lb-timeline > ul {
    margin-top: 20px;
}

.lb-timeline > ul > li:nth-child(5n) {
    border-bottom: 2px solid red;
}
.lb-timeline > ul > li:nth-child(5n):after {
    content: "end of page (5 posts)";
    font-size: 0.8em;
    color: red;
    background-color: white;
    padding:0 2px;
    position: absolute;
    z-index: 2;
}

.lb-post.ng-enter, .lb-post.ng-leave {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
}
.lb-post.ng-enter, .lb-post.ng-leave.ng-leave-active {
    opacity: 0;
}
.lb-post.ng-enter.ng-enter-active, .lb-post.ng-leave  {
    opacity: 1;
}

.lb-timeline > ul > li .lb-item {
    background-color: rgba(188, 212, 215, 0.28);
    padding: 10px;
    margin: 5px;
}

.lb-timeline > ul > li .debug {
    opacity: .5;
    font-size: .8em;
}
.lb-timeline > ul > li .debug:hover {
    opacity: 1;
}