<!doctype html>
<html ng-app="liveblog-embed">
    <head>
        <title>Embed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="{{ url_for('embed_liveblog.static', filename='styles/embed.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>

        <div ng-controller="timelineCtrl as timeline" class="lb-timeline">
            <h1>
                [[ timeline.blog.title ]]
                <small>
                    [[ timeline.blog.description ]]
                    <span class="badge">[[ timeline.posts_meta.total ]] posts</span>
                </small>
            </h1>
            <a  ng-click="timeline.retrieveUpdate(true)"
                class="btn btn-info">Update <span class="badge">[[ timeline.updates_available ]]</span></a>
            <label>
                <input type="checkbox" ng-model="timeline.auto_update"> Auto update
            </label>
            <ul class="list-group">
                <li lb-post ng-repeat="post in timeline.posts | orderBy: '-order' track by post._id" class="lb-post list-group-item">
                    <div lb-item ng-repeat="item in post.items track by item._id" class="lb-item">
                        <div ng-bind-html="item.text"></div>
                    </div>
                    <div class="debug">
                        <!-- <pre>[[ post | json ]]</pre> -->
                        <span>#[[ $index + 1 ]] | order: #[[ post.order ]] | post_status: [[ post.post_status ]] | updated: [[ post._updated ]] | deleted: [[ post.deleted ]]</span>
                    </div>
                </li>
            </ul>
            <div class="text-center">
                <a  ng-click="timeline.fetchPage()"
                    class="btn btn-default">Load more posts</a>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="//code.angularjs.org/1.3.14/angular-resource.js"></script>
        <script src="//code.angularjs.org/1.3.14/angular-sanitize.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

        <script type="text/javascript">
            window.LB_BLOG_ID = '{{ blog_id }}';
            window.LB_API_HOST = '{{ api_host }}';
        </script>

        {% assets "js_embed" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

    </body>
</html>
