<!doctype html>
<html>
    <head>
        <title>{{ blog.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% for style in assets.styles %}
            {% if style | is_relative_to_current_folder %}
                <link rel="stylesheet" href="{{ url_for('themes_assets.static', filename=style, _external=False) }}">
            {% else %}
                <link rel="stylesheet" href="{{ style }}">
            {% endif %}
        {% endfor %}
    </head>

    <body>

        {{ template | safe }}

        <script type="text/javascript">
            window.LB = {
                blog: {{ blog | tojson | safe }},
                settings: {{ settings | tojson | safe }},
                api_host: '{{ api_host }}',
                assets_root: '{{ assets_root }}'
            };
        </script>

        {% for script in assets.scripts %}
            {% if script | is_relative_to_current_folder %}
                <script type="text/javascript" src="{{ url_for('themes_assets.static', filename=script, _external=False) }}"></script>
            {% else %}
                <script type="text/javascript" src="{{ script }}"></script>
            {% endif %}
        {% endfor %}

    </body>
</html>
