<amp-accordion class="comment__accordion">
    <section>
        <h4><span>{{ translate('Post a comment') }}</span></h4>
        <form method="post"
            action-xhr="{{ api_host }}api/client_item_comments"
            target="_top"
            on="submit-success:lightbox-comment-success"
            class="comment">
            <div class="comment__wrap">
                <div>
                    <input type="text"
                        name="commenter"
                        placeholder="{{ translate('Name *') }}"
                        required>
                </div>
                <div>
                    <textarea placeholder="{{ translate('Comment *') }}" name="text" required></textarea>
                </div>
                <div submit-success>
                    <amp-lightbox id="lightbox-comment-success" layout="nodisplay">
                        <div class="lightbox-success" on="tap:lightbox-comment-success.close" role="button" tabindex="0">
                            <p>{{ translate("Your comment is being reviewed and will be published as soon as it's approved") }}.</p>
                        </div>
                    </amp-lightbox>
                </div>
                <div submit-error>
                    <template type="amp-mustache">
                        Error!
                    </template>
                </div>
                <div>
                    <input type="hidden"
                        name="client_blog"
                        value="{{blog._id}}">
                    <input type="submit" value="{{ translate('Send') }}" class="comment__button">
                </div>
            </div>
        </form>
    </section>
</amp-accordion>


