{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}

<div class="lb-timeline {{ settings.language }}">
  {% if settings.showTitle and blog.title %}
  <h1>{{ blog.title }}</h1>
  {% endif %}

  {% if settings.showDescription and blog.description %}
  <p>{{ blog.description | safe }}</p>
  {% endif %}

  {% if settings.showImage and blog.picture_url %}
  <amp-img src="{{ blog.picture_url }}" width="600" height="400" layout="responsive"></amp-img>
  {% endif %}

  <div class="header-bar">

    <div class="lb-social-share">
      <amp-social-share type="email" width="35" height="35"></amp-social-share>
      <amp-social-share type="gplus" width="35" height="35"></amp-social-share>
      <amp-social-share type="twitter" width="35" height="35"></amp-social-share>
      <amp-social-share type="linkedin" width="35" height="35"></amp-social-share>
      <amp-social-share type="whatsapp" width="35" height="35"></amp-social-share>
    </div>

    {% if settings.showLiveblogLogo or output.logo_url %}
      {% if output.logo_url %}
      <div class="header-bar__logo header-bar__logo--container">
          <amp-img 
            layout="fill"
            src="{{output.logo_url}}"
          >
          </amp-img>
      </div>
      {% else %}
        <a class="header-bar__logo" href="https://www.liveblog.pro" target="_blank">
          <span>{{ translate("Powered by") }}</span>
          <amp-img src="{{ assets_root }}images/lb-logo.svg"
            layout="fixed"
            width="90"
            height="30"
          >
          </amp-img>
        </a>
      {% endif %}
    {% endif %}
  
  </div>

  <amp-img src="image.png"
  width="1"
  height="1"
  layout="fixed"
  alt="AMP"></amp-img>

  <amp-live-list
    layout="container"
    data-poll-interval="15000"
    data-max-items-per-page="{{ settings.postsPerPage }}"
    id="amp-live-list-insert-blog"
    class="timeline-body">

    <button id="live-list-update-button" update on="tap:amp-live-list-insert-blog.update" class="ampstart-btn caps lb-post new-updates">{{ translate("See new updates") }}</button>
    <div items class="lb-posts">
      {% for item in api_response.stickyPosts._items %}
        {% include "template-timeline-loop-content.html" %}
      {% endfor %}

      {% for item in api_response.posts._items %}
        {% include "template-timeline-loop-content.html" %}
      {% endfor %}
    </div>

  </amp-live-list>

</div>
{% block lightbox %}
<amp-image-lightbox id="lb-lightbox" layout="nodisplay"></amp-image-lightbox>
{% endblock %}
