<article 
id="{{ item._id | string | replace(':', '') | replace('-', '') | replace('.', '') }}" 
data-update-time="{{ item._updated | date('X') }}" 
data-sort-time="{{ item.published_date | date('X') }}" 
class="lb-post list-group-item show-author-avatar  {% if item.lb_highlight %}lb-post--highlighted{% endif %} {% if item.deleted %} hide-item {% endif %}"
{% if item.deleted %} data-tombstone="true" {% endif %}>

  <div class="lb-type lb-type--{{ item.post_items_type }}">
    {% if item.post_items_type =="embed-facebook" %}
      <amp-img src="{{ assets_root }}images/facebook_logo.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% elif item.post_items_type =="embed-youtube" %}
      <amp-img src="{{ assets_root }}images/youtube_logo.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% elif item.post_items_type =="embed-twitter" %}
      <amp-img src="{{ assets_root }}images/twitter_logo.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% elif item.post_items_type =="embed-instagram" %}
      <amp-img src="{{ assets_root }}images/instagram_logo.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% endif %}
  </div>
  
{% if item.sticky and item.lb_highlight %}
  <amp-img src="{{ assets_root }}images/pinpost.svg" width="10" height="13" class="pin-icon" ></amp-img>
  <amp-img src="{{ assets_root }}images/highlighted.svg" width="14" height="13" class="highlight-icon" ></amp-img>
{% elif item.sticky %}
  <amp-img src="{{ assets_root }}images/pinpost.svg" width="10" height="13" class="pin-icon" ></amp-img>
{% elif item.lb_highlight %}
  <amp-img src="{{ assets_root }}images/highlighted.svg" width="14" height="13" class="highlight-icon" ></amp-img>
{% endif %}

  <div class="lb-post-date">{{ item._updated | date('')  }}</div>

  <!-- author plus avatar -->
  <div class="lb-author">
    {% if settings.showAuthor %}
      <div class="lb-author__name">{{ item.publisher.display_name }}</div>
      {% if settings.showAuthorAvatar %}
        {% if item.publisher.picture_url %}
        <amp-img class="lb-author__avatar" src="{{ item.publisher.picture_url }}"
          layout="fixed"
          width="45"
          height="45" 
          alt="{{ item.publisher.display_name }}" 
          >
        </amp-img>
        {% else %}
        <div class="lb-author__avatar"></div>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <!-- end author -->
  
  <!-- checking if post might be a gallery -->
  {% set gallery = false %}
  {% set numberOfItems=item.groups[1].refs|length %}
  {% if numberOfItems > 1 %}
    {% set gallery = true %}
    {% for ref in item.groups[1].refs %}
      {% if ref.item.item_type != "image" %}
        {% set gallery = false %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if gallery %}
    {% include "template-item-gallery.html" %}
  {% else %}
    <!-- item start -->
    {% for ref in item.groups[1].refs %}
      <div class="lb-item">
        {% if ref.item.item_type == "embed" %}
          {% include "template-item-embed.html" %}
        {% elif ref.item.item_type == "image" %}
          {% include "template-item-image.html" %}
        {% elif ref.item.item_type == "Scorecard" %}
          {% include "template-item-scorecard.html" %}
        {% else %}
        <article>{{ ref.item.text | safe }}</article>
        {% endif %}
      </div>
    {% endfor %}
    <!-- item end -->
  {% endif %}
</article>
