  <!-- author plus avatar -->
  <div class="lb-author {% if settings.authorPosition == "bottom"  %}lb-author--bottom{% endif %}">
        {% if settings.showAuthor %}
          <div class="lb-author__name">
          {% if mainItem.commenter and not (item.syndication_in and not settings.showSyndicatedAuthor) %}
            {{ translate('Comment by') }} {{ mainItem.commenter }}
          {% elif mainItem.syndicated_creator and settings.showSyndicatedAuthor %}
            {{ mainItem.syndicated_creator.display_name }}
          {% elif item.syndication_in and not settings.showSyndicatedAuthor %}
            <span class="lb-producer{% if settings.showSyndicatedAuthor %} lb-producer__author{% endif %}">{{ item.syndication_in.producer_blog_title }}</span>
          {% elif item.original_creator %}
            {{ item.original_creator[settings.authorNameFormat]|title }}
          {% elif item.publisher %}
            {{ item.publisher.display_name }}
          {% endif %}

          </div>
          {% if settings.showAuthorAvatar %}
            {% if type == 'comment' %}
            <amp-img class="lb-author__avatar lb-author__avatar--comment"
            src="{{ assets_root }}images/comment_icon.svg"
            layout="responsive"
            width="45"
            height="45">
            </amp-img>
            {% elif mainItem.syndicated_creator and settings.showSyndicatedAuthor and mainItem.syndicated_creator.picture_url %}
            <amp-img class="lb-author__avatar"
            src="{{ mainItem.syndicated_creator.picture_url }}"
            layout="responsive"
            width="45"
            height="45">
            </amp-img>
            {% elif item.original_creator and item.original_creator.picture_url %}
            <amp-img class="lb-author__avatar"
            src="{{ item.original_creator.picture_url }}"
            layout="responsive"
            width="45"
            height="45">
            </amp-img>
            {% elif item.publisher and item.publisher.picture_url %}
            <amp-img class="lb-author__avatar"
            src="{{ item.publisher.picture_url }}"
            layout="responsive"
            width="45"
            height="45">
            </amp-img>
            {% else %}
            <div class="lb-author__avatar"></div>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    <!-- end author -->