{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}

{% set mainItem = item.groups[1].refs[0].item %}
{% set postDate = item.published_date %}
{% if mainItem.commenter %}
  {% set type = 'comment' %}
  {% set postDate = mainItem._created %}
  {% if mainItem.meta._created %}
    {% set postDate = mainItem.meta._created %}
  {% endif %}
{% else %}
  {% set type = item.post_items_type %}
{% endif %}

{% set sortTime = item.published_date %}
{% if item.sticky %}
  {% set sortTime = item.published_date | addten %}
{% endif %}

<article 
id="{{ item._id | string | replace(':', '') | replace('-', '') | replace('.', '') }}" 
data-update-time="{{ item._updated | date('X') }}" 
data-sort-time="{{ sortTime | date('X') }}" 
class="lb-post list-group-item show-author-avatar  {% if item.lb_highlight %}lb-post--highlighted{% endif %} {% if item.deleted %} hide-item {% endif %}"
{% if item.deleted %} data-tombstone="true" {% endif %}>

  <div class="lb-type lb-type--{{ item.post_items_type }}">
    {% if item.post_items_type =="embed-facebook" %}
      <amp-img src="{{ assets_root }}images/facebook_logo.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% elif item.post_items_type =="embed-youtube" %}
      <amp-img src="{{ assets_root }}images/youtube_logo.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% elif item.post_items_type =="embed-twitter" %}
      <amp-img src="{{ assets_root }}images/twitter_logo_white.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% elif item.post_items_type =="embed-instagram" %}
      <amp-img src="{{ assets_root }}images/instagram_logo.png"
      layout="fixed"
      width="20"
      height="20"
      >
      </amp-img>
    {% elif item.post_items_type[0:5] == "embed" %}
      <amp-img src="{{ assets_root }}images/link-icon.png"
      layout="fixed"
      width="40"
      height="40"
      >
    {% endif %}
  </div>
  
{% if item.sticky and item.lb_highlight %}
  <amp-img src="{{ assets_root }}images/pinpost.svg" width="10" height="13" class="pin-icon" ></amp-img>
  <amp-img src="{{ assets_root }}images/highlighted.svg" width="14" height="13" class="highlight-icon" ></amp-img>
{% elif item.sticky %}
  <amp-img src="{{ assets_root }}images/pinpost.svg" width="10" height="13" class="pin-icon" ></amp-img>
{% elif item.lb_highlight %}
  <amp-img src="{{ assets_root }}images/highlighted.svg" width="14" height="13" class="highlight-icon" ></amp-img>
{% endif %}

  <div class="lb-post-date">{{ postDate | date('')  }}</div>

  <!-- author plus avatar -->
  <div class="lb-author">
      {% if settings.showAuthor %}
        <div class="lb-author__name">
        {% if mainItem.commenter and not (item.syndication_in and not settings.showSyndicatedAuthor) %}
          {{ translate('Comment by') }} {{ mainItem.commenter }}
        {% elif mainItem.syndicated_creator and settings.showSyndicatedAuthor %}
          {{ mainItem.syndicated_creator.display_name }}
        {% elif item.syndication_in and not settings.showSyndicatedAuthor %}
          <span class="lb-producer{% if settings.showSyndicatedAuthor %} lb-producer__author{% endif %}">{{ item.syndication_in.producer_blog_title }}</span>
        {% elif item.original_creator %}
          {{ item.original_creator.display_name }}
        {% elif item.publisher %}
          {{ item.publisher.display_name }}
        {% endif %}

        </div>
        {% if settings.showAuthorAvatar %}
          {% if type == 'comment' %}
          <amp-img class="lb-author__avatar lb-author__avatar--comment" 
          src="{{ assets_root }}images/comment_icon.svg"
          layout="fixed"
          width="45"
          height="45">
          </amp-img>
          {% elif mainItem.syndicated_creator and settings.showSyndicatedAuthor and mainItem.syndicated_creator.picture_url %}
          <amp-img class="lb-author__avatar" 
          src="{{ mainItem.syndicated_creator.picture_url }}" 
          layout="fixed"
          width="45"
          height="45">
          </amp-img>
          {% elif item.original_creator and item.original_creator.picture_url %}
          <amp-img class="lb-author__avatar" 
          src="{{ item.original_creator.picture_url }}"
          layout="fixed"
          width="45"
          height="45">
          </amp-img>
          {% elif item.publisher and item.publisher.picture_url %}
          <amp-img class="lb-author__avatar" 
          src="{{ item.publisher.picture_url }}"
          layout="fixed"
          width="45"
          height="45">
          </amp-img>
          {% else %}
          <div class="lb-author__avatar"></div>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  <!-- end author -->
  
  <!-- checking if post might be a gallery -->
  {% set gallery = false %}
  {% if item.groups and item.groups[1].refs and item.groups[1].refs | length > 1 %}
    {% set icount = item.groups[1].refs | selectattr("item.item_type", "equalto", "image") | list %}
    {% if item.groups[1].refs | length == icount | length %}
        {% set gallery = true %}
    {% endif %}
  {% endif %}

  {% if gallery and settings.showGallery %}
    {% include "template-item-gallery.html" %}
  {% elif type == "comment" %}
    {% include "template-post-comment.html" %}
  {% else %}
    <!-- item start -->
    {% for ref in item.groups[1].refs %}
      {% if ref.item.item_type == "comment" %}
        <div class="items-containerIndent">
      {% endif %}
      <div class="lb-item">
        {% if ref.item.item_type == "embed" %}
          {% include "template-item-embed.html" %}
        {% elif ref.item.item_type == "image" %}
          {% include "template-item-image.html" %}
        {% elif ref.item.item_type == "Scorecard" %}
          {% include "template-item-scorecard.html" %}
        {% elif ref.item.item_type == "comment" %}
          {% include "template-item-comment.html" %}
        {% else %}
        <article>{{ ref.item.text | safe }}</article>
        {% endif %}
      </div>
      {% if ref.item.item_type == "comment" %}
        </div>
      {% endif %}
    {% endfor %}
    <!-- item end -->
  {% endif %}

  {% if settings.showUpdateDatetime and (item.content_updated_date != item.firstcreated) and item.post_items_type != "advertisement" %}
    <div class="lb-post-updated">
      <span>{{ translate('Updated') }}</span> <span class="lb-post-updated-time" >{{item.content_updated_date | date('')}}</span>
    </div>
  {% endif %}

</article>
