<div class="subnav">
    <div class="button-stack left-stack" >
        <a class="navbtn homebtn" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </a>
    </div>
    <h3 class="page-nav-title">{{ analytics.blog.title }}</h3>
    <div class="button-stack right-stack active">
        <span class="navbtn navbtn-active">
            <i class="svg-icon-analytics"></i>
        </span>
        <span class="navbtn">
            <i class="svg-icon-settings"></i>
        </span>
    </div>
</div>

<div class="blog-settings-view">
    <div class="settings-page">
        <div class="subnav">
            <h3 class="page-nav-title">Analytics</h3>
            <button ng-click="analytics.close()" class="btn btn-default pull-right" type="button" translate>Done</button>
        </div>
        <div class="tabbable outer">
            <ul class="nav-tabs nav-stacked">
                <li ng-class="{active: (analytics.tab === 'embeds')}">
                    <a ng-href="" ng-click="analytics.changeTab('embeds')" translate>Embeds</a>
                </li>
                <li ng-class="{active: (analytics.tab === 'syndication')}" data="blog-analytics-syndication">
                    <a ng-href="" ng-click="analytics.changeTab('syndication')" translate>Syndication</a>
                </li>
            </ul>
            <div>
                <!-- GENERAL -->
                <div class="split-content tab-content outer" ng-if="(analytics.tab === 'embeds')">
                    <div class="header">
                        <h2 translate>Embeds</h2>
                    </div>
                    <div class="content">
                        
                    </div>
                </div>
                <!-- Users -->
                <div class="split-content tab-content outer" ng-if="(analytics.tab === 'syndication')">
                    <div class="header">
                        <h2 translate>Syndication</h2>
                    </div>
                     <div class="content">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div sd-modal="" data-model="settings.uploadModal">
    <form ng-submit="settings.upload(settings.preview)" name="uploadImageForm">
        <div class="modal-header">
            <button class="close" ng-click="settings.closeUploadModal()"><i class="icon-close-small"></i></button>
            <h3 translate>Upload Blog Image</h3>
        </div>
        <div class="modal-body">
            <div class="upload-form">
                <section
                    class="main"
                    sd-image-preview="settings.preview.url"
                    data-file="settings.preview.img"
                    data-progress-width="settings.progress.width"
                >
                    <div class="upload-progress" ng-show="progress.width">
                        <div class="bar" style="width: {{ progress.width }}%;"></div>
                    </div>
                    <div class="computer" ng-if="!settings.preview.url" ng-hide="settings.progress.width">
                        <div class="dropzone" ng-file-drop="settings.preview.img = $files[0]">
                            <div class="text" translate>Drop it here</div>
                            <div class="input-holder">
                                <input type="file" accept="image/*;capture=camera" ng-file-select="settings.preview.img = $files[0]">
                            </div>
                        </div>
                    </div>
                    <div class="preview" ng-if="settings.preview.url">
                        <div class="original">
                            <div sd-plain-image
                                data-src="settings.preview.url"
                                data-progress-width="settings.progress.width"
                                data-file="settings.preview.img"
                            ></div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-info" translate>Upload</button>
        </div>
    </form>
</div>
