logstash:
  extends:
    file: common.yml
    service: logstash
  links:
  - elastic

mongodb:
  extends:
    file: common.yml
    service: mongodb

redis:
  extends:
    file: common.yml
    service: redis

kibana:
  extends:
    file: common.yml
    service: kibana
  links:
  - elastic
  ports:
  - "5601:5601"

elastic:
  extends:
    file: common.yml
    service: elastic

postfix:
  extends:
    file: common.yml
    service: postfix

backend:
  extends:
    file: common.yml
    service: backend
  links:
   - mongodb
   - redis
   - elastic
   - logstash
   - postfix
  volumes:
   - ../server:/opt/superdesk
   - ../results/server/unit:/opt/superdesk/results-unit/
   - ../results/server/behave:/opt/superdesk/results-behave/

frontend:
  extends:
    file: common.yml
    service: frontend
  environment:
   - EMBEDLY_KEY=$bamboo_EMBEDLY_KEY
  links:
   - backend
  ports:
   - "443:443"
   - "80:80"
  volumes:
   - ../results/client/unit:/opt/superdesk-client/unit-test-results
