Flask-Cache==0.13.1
Flask-Cors==2.1.0
# Flask-S3 with support for python3
git+git://github.com/joehand/flask-s3@8fe9f27ebb5251b7cf53a6684595d41dc4af2fbf#egg=Flask-S3==0.1.7

gunicorn==19.6.0
honcho==0.6.6
newrelic>=2.66,<2.67

# Superdesk
-e git+git://github.com/petrjasek/superdesk-core.git@9686b6a97c81ba635a608f6aecf4db7983e7d5f3#egg=Superdesk-Core==1.52

