gunicorn==19.7.1
honcho==1.0.1
newrelic>=2.66,<2.67
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Cors==3.0.8
Flask-S3==0.1.7
html5lib==0.999999999
beautifulsoup4==4.6.0
flask_pymongo>=0.5.2,<1.0
pymongo>=0.4,<4.0
google-auth-oauthlib==0.2.0

# Superdesk
-e git://github.com/vstinner/hachoir.git@3.0a2#egg=hachoir3
-e git://github.com/liveblog/superdesk-core.git@users-modify-command#egg=Superdesk-Core

redis>=2.10.5,<3.0
elasticsearch==1.9.0
kombu<4.3.0
werkzeug<1.0