SUPERDESK_TESTING=true
SUPERDESK_URL=http://localhost:5000/api
SUPERDESK_WS_URL=ws://localhost:5050
SUPERDESK_CLIENT_URL=http://localhost:9000
MONGO_URI=mongodb://localhost/test
PUBLICAPI_MONGO_URI=mongodb://localhost/test
LEGAL_ARCHIVE_URI=mongodb://localhost/test
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=
CELERY_BROKER_URL=redis://localhost:6379/1
REDIS_URL=redis://localhost:6379/1
LOG_SERVER_ADDRESS=logstash
LOG_SERVER_PORT=5555
AMAZON_ACCESS_KEY_ID=
AMAZON_CONTAINER_NAME=
AMAZON_REGION=
AMAZON_SECRET_ACCESS_KEY=
S3_THEMES_PREFIX=
REUTERS_USERNAME=
REUTERS_PASSWORD=
MAIL_SERVER=postfix
MAIL_PORT=25
MAIL_USE_TLS=false
MAIL_USE_SSL=false
MAIL_USERNAME=user
MAIL_PASSWORD=pwd
SENTRY_DSN=
EMBEDLY_KEY=

