@import '~lb-mixins.scss';
@import '~lb-variables.scss';

.panel {
    .unread .inline{
        background-color: #d9edf7;
        color: #3a87ad;
    }
    &--comments {
        .avatar-comment {
            display: none !important;
        }
    }
    .lb-post {
        &__holder {
            background-color: transparent;
            padding: 14px 10px 0 12px;
            border-bottom: 1px solid #DBDBDB;
            @include border-radius(0);
        }
        &__content {margin-left: 0;}
        &__figure { // smaller figure
            margin-right: 0;
            .avatar {
                width: 24px;
                height: 24px;
            }
        }
        &__expander {
            &-multiple-items {
                background-color: $sd-background;
                right: 12px;
            }
            &-holder {
                background-color: transparent;
                border-top: none;
                height: 15px;
            }
        }
        &__collapser-multiple-items {
                right: 58px;
        }
        .cover-preview {
            left: -12px;
            position: relative;
        }
        .embed-preview {
            .fb-post {
                left: -12px;
            }
        }
        &__editable {
            border: none;
            &:hover {
                border: none;
            }
        }
    }
}
