$SUBNAV_HEIGHT: 48px;
$SUBSETTINGS_WIDTH: 60%;
$PADDING: 20px;
@import '~lb-mixins.scss';
@import '~lb-variables.scss';

.settings-disabled {
    .navbtn {
        opacity: 0.3;
    }
}
.blog-settings-view {
    .settings-page {
        top: $SUBNAV_HEIGHT*3;
        > .subnav {
            top: 1 - $SUBNAV_HEIGHT;
            background-color: #eaeaea;
            padding: 0 20px;
        }
        .tab-content {
            > .header {
                height: $SUBNAV_HEIGHT;
                border-bottom: 1px solid #e0e0e0;
                padding: $PADDING/2 $PADDING;
                box-sizing: border-box;
            }
            > .content {
                padding: $PADDING;
                @include box-sizing(border-box);
                > * {
                    width: $SUBSETTINGS_WIDTH;
                }
                .form-group {
                    display: table;
                    content: " ";
                    width: 100%;
                    padding: $PADDING/2 0;
                    .control-label {
                        text-align: left;
                        font-size: 11px;
                        text-transform: uppercase;
                        color: #808080;
                        float: left;
                        width: 18%;
                        margin-right: 2%;
                    }
                    .form-input {
                        width: 80%;
                        float: left;
                        select {margin: 0; height: auto;} // overwrite bootstrap
                        input {
                            box-sizing: border-box;
                            border-radius: 2px;
                            padding: 4px 6px;
                            height: auto;
                            font-size: 12px;
                            color: #000;
                            box-shadow: none;
                            &:focus {
                                box-shadow: 0 0 5px 0 #d0d0d0!important;
                                border-color: #b8b8b8!important;
                                outline: 0!important;
                            }
                        }
                    }
                }
            }
        }
        .relative {
            position: relative;
        }
    }
    .outputs {
        .add-new-div {
            float: right!important;
            top: -11px;
            right: -22px;
            button {
                top: 1px;
            }
        }
        .header {
            h2 {
                display: inline;
            }
        }
    }
    .dropdown-content {
        background-color: #fff;
        border: 1px solid #c6c6c6;
        border-radius: 3px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        left: 45px;
        padding: 10px;
        top: -16px;
        width: 290px;
        z-index: 1;
        position: absolute;
        left: $SUBSETTINGS_WIDTH;
        top:78px;
    }
    .footer {
        background: none repeat scroll 0 0 #f8f8f8;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #e8e8e8;
        margin: 3px -10px -10px;
        padding: 10px;
        height: 30px;
    }
    .subsettings-content {
        margin-top: 25px;
        .inline-content {
            display: inline-block;
            vertical-align: top;
        }
    }
    .first-block {
            min-width: 180px;
            margin-right: 60px;
            @include box-sizing(border-box);
    }
    .padded-right {
        padding-right: 20px;
    }
    .subsettings-header {
            color: #666;
            font-weight: 400;
            border-bottom: 1px solid #e0e0e0;
        }
    .users-list-embed {
        max-height:136px;
        overflow: auto;
        margin-top: 3px;
    }
    .reset-default {
        position: absolute;
        left: 185px;
    }
    .blog-status {
        float: left;
        text-transform: uppercase;
        width: 80px;
    }
    .top-pad {
        padding-top: 4px;
    }
    .tooltip {
        text-transform: uppercase;
        left: 135px!important;
        z-index: 1!important;
        top:-10px!important;
    }
    .sd-toggle {
        border-radius: 9px;
        .inner {
            border-radius: 8px;
        }
    }
    .header-top {
        margin-top: 40px;
    }
    .members-bottom {
        margin-bottom: 30px;
    }
    h3.inline-block {
        display: inline-block;
    }
    a.open-modal {
        display:inline-block;
        float:right;
        margin-top:7px;
    }
    .avatar.large {
        height: 84px!important;
        width: 84px!important;
    }
    .blog-media {
        @include border-box();
        border: 1px solid #d0d0d0 !important;
        img {
            padding: 7px;
            max-width: 240px;
            max-height: 240px;
        }
        .blog-image-actions {
            width: 110px;
            float: right;
            margin: 5px;
            button {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .image-text {
        margin-left: 10px;
        margin-top: 3px;
    }
}
.team-edit {
    position: absolute;
    top: 100px;
    .modal-dialog {
        .modal-body {
            height: 400px;
            max-height:400px;
            .add-label {
                color: gray;
                font-size: 11px;
            }
        }
    }
}
.edit-contributors {
    .search-result {
        top: 69px!important;
    }
}
.pending-blog-member {
    opacity: 0.3;
}
.pending-blog-member:hover {
    opacity: 1.0;
}
.pending-member-message {
    position: absolute;
    margin-left: 107px;
    margin-top: 4px;
}

div.timepicker-popup div.timepicker-additional td button,
div.datepicker-wrapper div.datepicker-additional td button {
    padding: 0;
}

div.timepicker-popup div.timepicker-core button.btn.btn-info {
    margin: 0;
    float: left;
}


p.warn-block {
    color: darkred;
    font-size: 14px;
    clear: both;
    padding-top: 10px;
}