@SUBNAV_HEIGHT: 48px;
@PADDING: 20px;

.blog-settings-view {
    .settings-page {
        top: @SUBNAV_HEIGHT*3;
        > .subnav {
            top: @SUBNAV_HEIGHT*2;
            background-color: #eaeaea;
        }
        .tab-content {
            // padding: 0 20px;
            > .header {
                height: @SUBNAV_HEIGHT;
                border-bottom: 1px solid #e0e0e0;
                padding: @PADDING/2 @PADDING;
                box-sizing: border-box;
            }
            > .content {
                padding: @PADDING;
                .form-group {
                    display: table;
                    content: " ";
                    width: 100%;
                    padding: @PADDING/2 0;
                    .control-label {
                        text-align: left;
                    }
                    .form-input {
                        width: 50%;
                        float: left;
                        select {margin: 0;} // overwrite bootstrap
                    }
                }
            }
        }
    }
    .dropdown-content {
        background-color: #fff;
        border: 1px solid #c6c6c6;
        border-radius: 3px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        left: 45px;
        padding: 10px;
        top: -16px;
        width: 290px;
        z-index: 1;
    }
    .footer {
        background: none repeat scroll 0 0 #f8f8f8;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #e8e8e8;
        margin: 3px -10px -10px;
        padding: 10px;
        height: 30px;
    }
    .subsettings-content {
        margin-top: 25px;
        .inline-content {
            display: inline-block;
            vertical-align: top;
            .magined {
                margin-right: 30px;
            }
        }
    }
}