.st-icon {
    font-size: 20px !important;
}

.st-format-bar {
    margin: -3em 10em 0 !important;
}

.st-format-btn--Unlink {
    text-decoration: none !important; 
}

.st-text-block {
    ul {
        list-style-type: inherit !important;
        font-size: inherit !important;
        padding: 0px !important;
        margin: 0 16px 3px !important;
    }
    ol {
        padding: 0px !important;
        margin: 0 16px 3px !important;
        font-size: inherit !important;
    }
    p {
        font-size: inherit !important;   
    }
    h4 {
        font-size: 18px;
        margin: 10px 0;
    }
    h5 {
        font-size: 16px;
        margin: 10px 0;
    }
}
