<div class="subnav ng-scope items-manager">
    <h3 class="page-nav-title" translate>Free types manager</h3>
    <div class="button-stack right-stack">
        <button class="navbtn navbtn-info" ng-click="vm.openFreepostDialog();">
            <i class="svg-icon-add inverse"></i> <span class="title" translate>Create Free Type</span>
        </button>
    </div>
</div>
    
<section class="main-section themelist">
    <div class="loading-indicator" ng-show="vm.loading"><span translate>loading</span></div>
    <div class="list-container">
        <!-- LIST VIEW -->
        <ul>
            <li ng-repeat="freepost in vm.freeposts">
                {{ freepost.name }}
                <button type="button" ng-click="vm.openFreepostDialog(freepost);">Edit</button>&nbsp;
                <button type="button" ng-click="vm.removeFreepost(freepost, $index);">Delete</button>
            </li>
            <li ng-if="vm.freeposts.length === 0">
                {{ 'No Free Types for now' | translate }}
            </li>
        </ul>
    </div>
</section>


<div sd-modal="" data-model="vm.freetypeModalActive">
        <div class="modal-header">
            <button class="close" ng-click="vm.cancelCreate()"><i class="icon-close-small"></i></button>
            <h3 translate>Create New Free Post</h3>
        </div>
        <div class="modal-body" style="min-height: 300px;">
        <form ng-submit="vm.createFreepost()" name="createItemForm">
            
            <div class="item-creation">
                <fieldset>
                    <div class="field">
                        <label translate>Free Post Title *</label>
                        <input type="text" ng-model="vm.dialogFreetype.name" required>
                    </div>
                    <div class="field">
                        <label translate>Free Post Template *</label>
                        <div class="form-box"
                            sd-text-editor
                            data-config="{toolbar: {buttons: ['bold', 'italic', 'underline', 'strikethrough', 'orderedlist', 'unorderedlist'],sticky: false,static: true,align: 'left',updateOnEmptySelection: true}}"
                            ng-model="vm.dialogFreetype.template"
                        ></div>
                    </div>
                </fieldset>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-default pull-left" translate ng-click="vm.cancelCreate()">Cancel</button>
                <button type="button" class="btn btn-primary btn-info" translate ng-click="vm.saveFreepost()"
                ng-disabled="!vm.dialogFreetype.name || !vm.dialogFreetype.template || vm.dialogPostLoading"
                >Create</button>
            </div>
        </div>
</div>
