<div class="subnav ng-scope items-manager">
    <h3 class="page-nav-title" translate>Items Manager</h3>
    <div class="button-stack right-stack">
        <button class="navbtn navbtn-info" ng-click="vm.openNewItem();">
            <i class="svg-icon-add inverse"></i> <span class="title" translate>Create Item Type</span>
        </button>
    </div>
</div>
    
<section class="main-section themelist">
    <div class="loading-indicator" ng-show="vm.loading"><span translate>loading</span></div>
    <div class="list-container">
        <!-- LIST VIEW -->
    </div>
</section>


<div sd-modal="" data-model="vm.newItemModalActive">
        <div class="modal-header">
            <button class="close" ng-click="vm.cancelCreate()"><i class="icon-close-small"></i></button>
            <h3 translate>Create New Item</h3>
        </div>
        <div class="modal-body" style="min-height: 300px;">
        <form ng-submit="vm.createItem()" name="createItemForm">
            
            <div class="item-creation">
                <fieldset>
                    <div class="field">
                        <label translate>Item title</label>
                        <input type="text" ng-model="vm.newItem.title" required>
                    </div>
                    <div class="field">
                        <label translate>Item Markup</label>
                        <div class="form-box"
                            sd-text-editor
                            data-config="{toolbar: {buttons: ['bold', 'italic', 'underline', 'strikethrough', 'orderedlist', 'unorderedlist'],sticky: false,static: true,align: 'left',updateOnEmptySelection: true}}"
                            ng-model="vm.newItem.markup"
                        ></div>
                    </div>
                </fieldset>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-default pull-left" translate ng-click="vm.cancelCreate()">Cancel</button>
                <button type="button" class="btn btn-primary btn-info" translate ng-click="vm.createItem()">Create</button>
            </div>
        </div>
</div>
