<div class="draft-posts">
    <ul>
        <lb-post
          ng-repeat="post in draftPosts.posts | orderBy: '-_created' track by post._id"
          post="post"
          on-edit-click="draftPosts.selectDraftPost"
          allow-quick-edit="false">
        </lb-post>
        <li class="draft-posts__empty" ng-hide="draftPosts.posts.length">
            <p>You don't have any draft yet.</p>
            <p>To create one, start to compose your post and click on the "SAVE AS DRAFT" button.
                You will be able to re-open it later in the editor.</p>
        </li>
    <ul>
</div>