<div class="draft-posts">
    <ul>
        <li ng-repeat="post in draftPosts.posts" class="draft-posts__post" ng-click="draftPosts.openDraftInEditor(post)">
            <div>
                <strong>{{ post.original_creator_name }}</strong> | <time>{{ post._updated | reldate }}</time>
            </div>
            <article lb-bind-html html-content="{{ post.mainItem.item.text }}"></article>
            <div ng-if="post.multiple_items">and {{ post.multiple_items - 1 }} other items</div>
            <div>{{ post.post_status }}</div>
        </li>
    <ul>
</div>