<div class="draft-posts">
    <ul>
        <li ng-repeat="post in draftPosts.posts" class="draft-posts__post" ng-click="draftPosts.selectDraftPost(post)">
            <span class="dropdown draft-posts__actions-more pull-right" dropdown stop-event="click">
                <div class="dropdown-toggle" dropdown-toggle></div>
                <ul class="dropdown-menu">
                    <li><a ng-click="draftPosts.selectDraftPost(post)"><i class="icon-edit"></i><span translate>Edit</span></a></li>
                    <li><a ng-click="draftPosts.removeDraftPost(post)"><i class="icon-remove"></i><span translate>Remove</span></a></li>
                </ul>
            </span>
            <div>
                <strong>{{ post.original_creator_name }}</strong> | <time>{{ post._updated | reldate }}</time>
            </div>
            <article lb-bind-html html-content="{{ post.mainItem.item.text }}"></article>
            <div ng-if="post.multiple_items">and {{ post.multiple_items - 1 }} other items</div>
            <div>{{ post.post_status }}</div>
        </li>
        <li ng-hide="draftPosts.posts.length">No draft</li>
    <ul>
</div>