<div class="subnav">
    <div class="button-stack left-stack" >
        <a class="navbtn homebtn" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </a>
    </div>
    <h3 class="page-nav-title">{{ blog.title }}</h3>
    <div class="button-stack right-stack">
        <a class="navbtn" ng-href="#/liveblog/settings/{{::blog._id}}">
            <i class="svg-icon-settings"></i>
        </a>
    </div>
    <button class="btn btn-info pull-right" type="button" translate ng-click="toggleBlogState()">
        <span ng-if="isBlogOpened()">Archive Blog</span>
        <span ng-if="!isBlogOpened()">Activate Blog</span>
    </button>
</div>

<section class="main-section blogedit">

    <!-- left sidebar -->
    <div class="side-menu">
        <button class="navbtn" ng-click="toggleDraftPanel()" ng-class="{'active': draftPanelState === 'open'}">
            <i class="big-icon-archive" alt="draft posts"></i>
        </button>
    </div>

    <!-- draft posts column -->
    <div class="column column-draft-posts"
         slideable="draftPanelState === 'open'"
         slideable-move=".columns-holder">
        <header>Drafts</header>
        <div class="content">
            <draft-posts blog="blog" on-draft-post-seleted="openPostInEditor" ng-if="draftPanelState === 'open'"></draft-posts>
        </div>
    </div>

    <div class="columns-holder">
        <!-- editor column -->
        <div class="column column-editor">
            <span ng-show="isBlogOpened()">
                <header>
                    <button class="btn btn-info pull-right" ng-click="askAndResetEditor()" translate>Reset</button>
                </header>
                <div class="content">
                    <div class="editor-holder">
                        <div class="editor">
                            <div class="editor" ng-sir-trevor st-model="editor" st-params="stParams"></div>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="btn"          ng-click="saveAsDraft()" ng-disabled="isCurrentPostPublished()" translate>Save draft</button>
                        <button class="btn btn-info" ng-click="publish()"     ng-disabled="!isCurrentPostUnsaved()" ng-switch="isCurrentPostPublished()">
                            <span ng-switch-when="true"  translate>Update</span>
                            <span ng-switch-when="false" translate>Publish</span>
                        </button>
                    </div>
                </div>
            </span>
            <span ng-show="!isBlogOpened()">
                <div class="alert alert-danger margin15px" role="alert">
                    <span><strong translate>This blog is closed!</strong></span><br />
                    <span translate >No posts allowed on closed blogs. Reopen the blogs in order to make any changes</span>
                </div>
            </span>
        </div>

        <!-- timeline column -->
        <div class="column column-timeline" ng-init="isTimeline = true">
            <header>
                <ul class="nav nav-tabs">
                    <li ng-class="{active: isTimeline}" ng-click="isTimeline = true">
                        <button translate>Timeline</button>
                    </li>
                    <li ng-class="{active: !isTimeline}" ng-click="isTimeline = false">
                        <button translate>Blog details</button>
                    </li>
                </ul>
            </header>
            <div class="content">
                <div ng-if="!isTimeline" class="inner-padding">
                    <form ng-submit="updateBlog(oldBlog)" name="blogForm" class="flat">
                        <fieldset>
                            <div class="field">
                                <label translate>Blog title</label>
                                <input type="text" name="title" ng-model="oldBlog.title" ng-blur="updateBlog(oldBlog)">
                            </div>
                            <div class="field">
                                <label translate>Blog description</label>
                                <textarea name="description" ng-model="oldBlog.description" ng-blur="updateBlog(oldBlog)"></textarea>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div ng-if="isTimeline" ng-controller="TimelineController" class="column-timeline">
                    <div class="loading-indicator" ng-show="timelineLoading"><span translate>loading</span></div>
                    <div ng-if="isPostsEmpty()" class="alert alert-info" role="alert">
                        <span><strong translate>There are no posts yet for this blog!</strong></span>
                    </div>
                    <ul class="posts" lr-infinite-scroll="loadMore" set-timeline-height>
                        <lb-post ng-repeat="post in posts | orderBy: '-_created' track by post._id" post="post" on-edit-click="openPostInEditor" allow-quick-edit="true"></lb-timeline-post>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

