<div class="subnav">
    <div class="button-stack left-stack" >
        <a class="navbtn homebtn" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </a>
    </div>
    <h3 class="page-nav-title">{{ blog.title }}</h3>
    <div class="button-stack right-stack" ng-if="blogSecurityService.canAccessSettings(blog)">
        <a class="navbtn analytics-link" ng-href="#/liveblog/analytics/{{::blog._id}}" title="{{ 'Analytics' | translate }}">
            <i class="svg-icon-analytics"></i>
        </a>
        <a class="navbtn settings-link" ng-href="#/liveblog/settings/{{::blog._id}}" title="{{ 'Settings' | translate }}">
            <i class="svg-icon-settings"></i>
        </a>
    </div>
</div>

<section class="main-section blogedit">

    <!-- left sidebar -->
    <div class="side-menu">
        <button class="navbtn" ng-click="openPanel('editor')" ng-class="{'active': panelState === 'editor'}" title="{{ 'Editor' | translate }}" >
            <i class="big-icon-editor" alt="editor"></i>
        </button>
        <button class="navbtn" ng-click="openPanel('contributions')" ng-class="{'active': panelState === 'contributions'}" title="{{ 'Contributions' | translate }}">
            <span class="label label-info circle small notification-counter" ng-if="unreadPostsService.countContributions() > 0">
            {{ unreadPostsService.countContributions() }}</span>
            <i class="big-icon-contributions" alt="contributions"></i>
        </button>
        <button class="navbtn" ng-click="openPanel('drafts')" ng-class="{'active': panelState === 'drafts'}" title="{{ 'Drafts' | translate }}">
            <i class="big-icon-archive" alt="draft posts"></i>
        </button>
        <button 
            class="navbtn" 
            title="{{ 'Ingest' | translate }}"
            ng-if="syndicationEnabled"
            lb-notifications-count
            ng-click="openPanel('ingest')" 
            ng-class="{'active': panelState === 'ingest' || panelState === 'incoming-syndication'}">
        </button>
        <button 
            ng-if="blog.blog_preferences.theme.settings.canComment"
            class="navbtn ng-cloak"
            ng-click="openPanel('comments')"
            ng-class="{'active': panelState === 'comments'}"
            title="{{ 'Comments' | translate }}">
                <span class="label label-info circle small notification-counter" ng-if="unreadPostsService.countComments() > 0">{{ unreadPostsService.countComments() }}</span>
                <i class="big-icon-comments" alt="comments posts"></i>

        </button>        
    </div>

    <div class="columns-holder">
        <div class="column column--first">
            <span ng-if="isBlogOpened()">
                <!-- drafts -->
                <div class="panel panel--draft" ng-if="panelState === 'drafts'">
                    <header><h4 translate>Drafts</h4></header>
                    <div class="content" lr-infinite-scroll="fetchNewDraftPage">
                        <lb-posts-list
                          lb-posts-instance="blogEdit.draftPostsInstance"
                          lb-posts-blog-id="blog._id"
                          lb-posts-status="draft"
                          lb-posts-order-by="updated_first"
                          lb-posts-allow-unpublishing="false"
                          lb-posts-allow-reordering="false"
                          lb-posts-allow-editing="true"
                          lb-posts-allow-deleting="true"
                          lb-posts-on-post-selected="openPostInEditor"
                        >
                            <p>You don't have any draft yet.</p>
                            <p>
                                To create one, start to compose your post and click on the &#34;SAVE AS DRAFT&#34; button.
                                You will be able to re-open it later in the editor.
                            </p>
                        </lb-posts-list>
                    </div>
                </div>
                <!-- contributions -->
                <div class="panel panel--contribution" ng-if="panelState === 'contributions'">
                    <header><h4 translate>Contributions</h4></header>
                    <div class="panel--contribution__filters">
                        <span class="panel--contribution__filters__title">Filter by user</span>
                        <lb-filter-by-member
                            on-filter-change="blogEdit.contributionsPostsInstance.setAuthorFilter"
                            blog-id="blog._id">
                        </lb-filter-by-member>
                    </div>
                    <div class="content" lr-infinite-scroll="fetchNewContributionPage" full-height>
                        <lb-posts-list
                          lb-posts-instance="blogEdit.contributionsPostsInstance"
                          lb-posts-blog-id="blog._id"
                          lb-posts-status="submitted"
                          lb-posts-order-by="updated_first"
                          lb-posts-allow-unpublishing="false"
                          lb-posts-allow-reordering="false"
                          lb-posts-no-syndication="true"
                          lb-posts-is-unread-post="unreadPostsService.isContribution"
                          lb-posts-allow-editing="blogSecurityService.isUserOwnerOrCanPublishAPost"
                          lb-posts-allow-deleting="blogSecurityService.isUserOwnerOrCanPublishAPost"
                          lb-posts-allow-publishing="blogSecurityService.canPublishAPost"
                          lb-posts-on-post-selected="openPostInEditor"
                        >
                            <div ng-if="!blogEdit.contributionsPostsInstance.isFilterEnable()">
                                <p>There is no contribution yet.</p>
                                <p>
                                    To create one, start to compose your post and click on the &#34;SUBMIT&#34; button.
                                    You will be able to re-open it later in the editor.
                                </p>
                            </div>
                            <div ng-if="blogEdit.contributionsPostsInstance.isFilterEnable()">
                                <p>No contributions from the selected users</p>
                            </div>
                        </lb-posts-list>
                    </div>
                </div>
                <!-- ingest -->
                <div
                    lb-ingest-panel
                    ingest-queue="ingestQueue"
                    open-panel="openPanel"
                    ng-if="panelState === 'ingest'"></div>
                <!-- incoming syndication -->
                <div
                    lb-incoming-syndication 
                    lb-posts-on-post-selected="openPostInEditor"
                    open-panel="openPanel"
                    synd-id="syndId"
                    ng-if="panelState === 'incoming-syndication'"></div>
                <!-- comments -->
                <div class="panel panel--comments" ng-if="panelState === 'comments'">
                    <header><h4>{{'Comments' | translate}}</h4></header>
                    <div class="content" lr-infinite-scroll="fetchNewCommentsPage">
                        <lb-posts-list
                          lb-posts-instance="blogEdit.commentPostsInstance"
                          lb-posts-blog-id="blog._id"
                          lb-posts-status="comment"
                          lb-posts-order-by="updated_first"
                          lb-posts-allow-unpublishing="false"
                          lb-posts-allow-reordering="false"
                          lb-posts-is-unread-post="unreadPostsService.isComment"
                          lb-posts-allow-editing="true"
                          lb-posts-allow-deleting="true"
                          lb-posts-allow-publishing="blogSecurityService.canPublishAPost"
                          lb-posts-on-post-selected="openPostInEditor"
                        >
                            <p translate>There aren't any comments.</p>
                        </lb-posts-list>
                    </div>
                </div>                
                <!-- editor -->
                    <div class="panel--editor" ng-show="panelState === 'editor'">
                        <div ng-if="!preview">
                        <header>
                            <h4>{{'Editor' | translate}}</h4>
                            <button class="btn btn--primary pull-right" ng-click="togglePreview()" ng-disabled="actionStatus() && !isCurrentPostPublished()" translate  ng-if="selectedPostType=='Default'">Preview
                            </button>
                            <button class="btn pull-right" ng-click="askAndResetEditor()" translate>Reset</button>
                            <button class="btn pull-right btn--with-icon-right btn--with-label" ng-click="toggleTypePostDialog()">
                                <span ng-if="selectedPostType=='Default'">
                                    {{'Choose post type' | translate}}
                                    <sup class="btn-toggle-label">Beta</sup>
                                </span>
                                <span ng-if="selectedPostType!='Default'" translate class="selector-size-limit">{{selectedPostType.name}}</span>
                                <i class="icon-chevron-right-thin"></i>
                            </button>
                        </header>
                        </div>
                        <div ng-if="preview">
                        <header>
                            <h4>{{'Preview' | translate}}</h4><span ng-click="togglePreview()" class="close-preview pull-right" tooltip-placement="bottom" tooltip="{{ 'Back to edit' | translate }}">
                            ⨯
                            </span>
                        </header>
                        </div>
                    <div class="content">
                        <div class="editor-holder" ng-class="{'preview': preview}">
                            <div class="editor">
                                <div
                                    class="editor" 
                                    ng-if="selectedPostType=='Default' && enableEditor"
                                    ng-sir-trevor
                                    st-model="blogEdit.editor"
                                    st-params="stParams"
                                    st-change="onEditorChanges"></div>
                            </div>
                            <freetype-render
                                    ng-if="selectedPostType!='Default'" 
                                    freetype="selectedPostType"
                                    freetype-data="freetypesData"
                                    validation="validation"
                                    control="freetypeControl"></freetype-render>
                        </div>
                        <div class="actions">
                            <div class="actions__options" style="display:table-row">
                                <div style="display:table-cell"></div>
                                <div style="display:table-cell">
                                    <div ng-click="toggleSticky();" tooltip-placement="bottom" tooltip="{{ sticky ? 'Unpin': 'Pin' | translate }}" ng-class="{'option-not-activated': !sticky}" class="pull-right" ng-disabled="isCurrentPostPublished() || actionStatus()">
                                        <span class="actions__label" translate>PIN POST</span><span class="actions__icon"><i class="icon-pin rotate" ng-class="{'blue': sticky}"></i></span>
                                    </div>
                                </div>
                                <div style="display:table-cell">
                                    <div ng-click="toggleHighlight();" tooltip-placement="bottom" tooltip="{{ highlight ? 'Un-highlight': 'Highlight' | translate }}" ng-class="{'option-not-activated': !highlight}" class="pull-right" ng-disabled="isCurrentPostPublished() || actionStatus()">
                                        <span class="actions__label" translate>HIGHTLIGHT POST</span><span class="actions__icon"><i class="icon-star" ng-class="{'orange': highlight}" style="margin-top: -4px;"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="actions__buttons" style="display:table-row">
                                <div ng-if="blogSecurityService.canPublishAPost()" style="display:table-cell">
                                    <button class="btn btn--primary" ng-disabled="actionStatus()" ng-click="publish()" ng-switch="isCurrentPostPublished()">
                                        <span ng-switch-when="true"  translate>Update</span>
                                        <span ng-switch-when="false" translate>Publish</span>
                                    </button>
                                </div>
                                <div style="display:table-cell"><button class="btn" ng-click="saveAsContribution()" ng-disabled="isCurrentPostPublished() || actionStatus()" translate>Submit</button></div>
                                <div style="display:table-cell"><button class="btn" ng-click="saveAsDraft()" ng-disabled="isCurrentPostPublished() || actionStatus() || !showSaveAsDraft()" translate>Save draft</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="freetype-selector" ng-click="$event.stopPropagation();" ng-if="selectPostTypeDialog" ng-class="{'default': selectedPostType === 'Default'}">
                        <ul class="users-list-embed">
                            <li translate ng-click="selectPostType('Default')"
                            ng-class="{'active': selectedPostType === 'Default'}">Default</li>
                            
                            <li ng-repeat="freetype in freetypes" ng-click="selectPostType(freetype)"
                            ng-class="{'active': freetype == selectedPostType, 'separator': freetype.separator}"
                            >
                                {{ freetype.name }}
                            </li>
                        </ul>
                    </div>

                </div>
            </span>
            <span ng-if="!isBlogOpened()">
                <div class="alert alert-danger margin15px" role="alert">
                    <span><strong translate>This blog is closed!</strong></span><br />
                    <span translate >To add or edit the content please <a ng-href="#/liveblog/settings/{{::blog._id}}">change the blog status</a> to "Active".</span>
                </div>
            </span>
        </div>
        <!-- timeline column -->
        <div class="column column--timeline">
            <header>
                <div translate class="header--timeline">Timeline</div>
                <div ng-if="isTimelineReordering()" class="cancel-reorder header--filters">
                    <i class="svg-icon-move fix-cancel-move-icon"></i>
                    <button class="btn btn-xs fix-cancel-move-button" translate ng-click="clearTimelineReordering();" tooltip-placement="bottom" tooltip="Cancel and exit reordering mode">Cancel</button>
                </div>
                <div class="header--live" ng-if="isBlogOpened()">
                    <a href="{{ publicUrl }}" target="_blank" ng-disabled="!publicUrl" translate>Live</a>
                </div>
                <div class="header--filters">                                        
                    <button class="btn btn-xs active" ng-click="filterHighlight(false);" ng-class="{'active': !filter.isHighlight}" tooltip-placement="bottom" tooltip="Show all" translate>All</button>
                    <button class="btn btn-xs" ng-click="filterHighlight(true);" ng-class="{'active': filter.isHighlight}" tooltip-placement="bottom" tooltip="Show highlights" translate><i class="icon-star"></i></button>
                </div>
            </header>
            <div class="content content--timeline" lr-infinite-scroll="fetchNewTimelinePage">
                <div>
                    <div ng-show="!blogEdit.timelineStickyInstance.isPostsEmpty() &&
                        !blogEdit.timelineStickyInstance.hideSticky"
                        class="timeline-posts-list pinned"
                        lb-posts-instance="blogEdit.timelineStickyInstance"
                        lb-posts-list
                        lb-posts-blog-id="blog._id"
                        lb-posts-status="open"
                        lb-sticky="true"
                        lb-posts-allow-unpublishing="blogSecurityService.canPublishAPost"
                        lb-posts-allow-reordering="false"
                        lb-posts-allow-editing="blogSecurityService.canPublishAPost"
                        lb-posts-allow-deleting="blogSecurityService.canPublishAPost"
                        lb-posts-on-post-selected="openPostInEditor"
                        >
                    </div>

                    <div ng-if="!blogEdit.timelineStickyInstance.isPostsEmpty()"
                        class="pin-drawer"                        
                        >
                        <div ng-if="blogEdit.timelineStickyInstance.hideSticky"
                        translate translate-n="blogEdit.timelineStickyInstance.numberOfPosts()" translate-plural="{{blogEdit.timelineStickyInstance.numberOfPosts()}} PINNED POSTS"
                        >1 PINNED POST</div>
                        <button class="pin-drawer-button" ng-class="{active: blogEdit.timelineStickyInstance.hideSticky}"
                        ng-click="blogEdit.timelineStickyInstance.hideSticky = !blogEdit.timelineStickyInstance.hideSticky">
                        <i class="icon-chevron-up-thin"></i></button>
                    </div>
                    
                    <div
                      class="timeline-posts-list"
                      lb-posts-instance="blogEdit.timelineInstance"
                      lb-posts-list
                      lb-posts-blog-id="blog._id"
                      lb-posts-status="open"
                      lb-sticky="false"
                      lb-sticky-instance="blogEdit.timelineStickyInstance"
                      lb-posts-allow-unpublishing="blogSecurityService.canPublishAPost"
                      lb-posts-allow-reordering="blogSecurityService.canPublishAPost"
                      lb-posts-allow-editing="blogSecurityService.canPublishAPost"
                      lb-posts-allow-deleting="blogSecurityService.canPublishAPost"
                      lb-posts-on-post-selected="openPostInEditor"
                    >
                    There are no posts yet for this blog!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
