<div class="loading-indicator" ng-show="postsList.isLoading"><span translate>loading</span></div>
<div ng-if="postsList.isPostsEmpty()" class="alert alert-info" role="alert">
    <ng-transclude></ng-transclude>
</div>
<ul class="posts" ng-class="{'flicker': postsList.hideAllPosts}">
    <lb-post
      ng-repeat="post in postsList.pagesManager.allPosts() track by post._id"
      post="post"
      index=$index
      posts-list-ctrl="postsList"
      start-reorder="postsList.startReorder(post)"
      reorder="postsList.reorder(index, location)"
      reorder-post="postsList.reorderPost"
      keep-highlighted="postsList.keepHighlighted"
      on-edit-click="postsList.onPostSelected">
    </lb-post>
</ul>
<div ng-if="postsList.reorderPost" class="cancel-reorder">
    <i class="svg-icon-move fix-cancel-move-icon"></i>
    <button class="btn fix-cancel-move-button" tranlate ng-click="postsList.clearReorder();">Cancel</button>
</div>
