<li class="lb-post">
    <div class="lb-post__holder">
        <div class="lb-post__figure">
            <figure class="avatar">
                <img class="ng-isolate-scope" data-src="post.picture_url" sd-user-avatar="">
            </figure>
        </div>
        <div class="lb-post__content">
            <div class="lb-post__header">
                <span class="name">{{ ::post.original_creator_name }}</span> | <time>{{ post._updated | reldate }}</time>
                <div rollshow class="lb-post__actions">
                    <span class="dropdown" dropdown>
                        <div class="dropdown-toggle" dropdown-toggle></div>
                        <ul class="dropdown-menu">
                            <li><a ng-click="onEditClick(post)"><i class="icon-edit"></i><span translate>Edit</span></a></li>
                            <li><a ng-click="askRemovePost(post)"><i class="icon-remove"></i><span translate>Remove post</span></a></li>
                        </ul>
                    </span> 
                </div>
            </div>
            <div ng-if="post.multiple_items" class="lb-post__list">
                <div ng-if="!post.show_all" title="Click to show all items" ng-click="toggleMultipleItems()">
                    <div lb-bind-html html-content="{{ post.mainItem.item.text }}"></div>
                </div>
                <div ng-if="post.show_all">
                     <ul>
                         <li ng-repeat="item in post.items track by item.item._id">
                            <div lb-bind-html html-content="{{ ::item.item.text }}" class="lb-post__item" ng-class="{'lb-post__item--even': !$first}"
                           html-location="medium-editable" lb-simple-edit="allowQuickEdit" se-item="item.item"></div>
                           <div rollshow class="lb-post__remove-item">
                                <a ng-click="askRemoveItem(item, post)"><i class="icon-remove"></i></a>
                            </div>

                         </li>
                     </ul>
                </div>
            </div>
            <div ng-if="!post.multiple_items" class="lb-post__list">
                <ul>
                    <li ng-repeat="item in post.items track by item.item._id">
                        <div lb-bind-html html-content="{{ ::item.item.text }}" class="lb-post__item" ng-class-even="'lb-post__item--even'"
                       html-location="medium-editable" lb-simple-edit="allowQuickEdit" se-item="item.item"></div>
                       <div rollshow class="lb-post__remove-item">
                            <a ng-click="askRemoveItem(item, post)"><i class="icon-remove"></i></a>
                        </div>
                     </li>
                 </ul>
            </div>
        </div>
    </div>
    <div class="lb-post__expander-holder" ng-click="toggleMultipleItems()" ng-if="post.multiple_items && !post.show_all">
        <div class="lb-post__expander-multiple-items">
            <div class="lb-post__expander-multiple-items-roundel">
                <div class="lb-post__expander-multiple-items-roundel-text">{{ ::post.multiple_items }}</div>
            </div>
            <div translate class="lb-post__expander-multiple-items-roundel-label">ITEMS</div>
        </div>
    </div>
    <div class="lb-post__expander-holder" ng-click="toggleMultipleItems()" ng-if="post.multiple_items && post.show_all">
        <div class="lb-post__collapser-multiple-items"></div>
    </div>
</li>