<div class="loading-indicator" ng-show="postsList.isLoading"><span translate>loading</span></div>
<div ng-if="postsList.isPostsEmpty()" class="alert alert-info" role="alert">
    <span><strong lb-bind-html html-content="{{postsList.emptyMessage}}"></strong></span>
</div>
<ul class="posts" lr-infinite-scroll="postsList.fetchPage">
    <lb-post
      ng-repeat="post in postsList.posts | orderBy: '-_created' track by post._id"
      post="post"
      on-edit-click="postsList.onPostSelected"
      allow-unpublish="postsList.allowUnpublish"
      allow-quick-edit="postsList.allowQuickEdit">
    </lb-post>
</ul>