<div class="subnav">
    <div class="button-stack left-stack" >
        <a class="navbtn homebtn" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </a>
    </div>
    <h3 class="page-nav-title">{{ settings.blog.title }}</h3>
    <div class="button-stack right-stack active">
        <a class="navbtn" ng-click="settings.close()">
            <i class="svg-icon-settings"></i>
        </a>
    </div>
</div>

<div class="blog-settings-view" ng-init="settings.generalTab = true">
    <div class="settings-page">
        <div class="subnav">
            <h3 class="page-nav-title">Settings</h3>
            <button ng-click="settings.save()"  class="btn btn-info pull-right"    type="button" translate ng-disabled="settings.isSaved">Save</button>
            <button ng-click="settings.reset()" class="btn btn-default pull-right" type="button" translate>Reset to default</button>
            <button ng-click="settings.close()" class="btn btn-default pull-right" type="button" translate>Cancel</button>
        </div>
        <div class="tabbable outer">
            <ul class="nav-tabs nav-stacked">
                <li ng-class="{active: settings.generalTab}">
                    <a ng-href="" ng-click="settings.generalTab = true">General</a>
                </li>
                <li ng-class="{active: !settings.generalTab}" data="blog-settings-users">
                    <a ng-href="" ng-click="settings.generalTab = false">Team</a>
                </li>
            </ul>
            <div>
                <!-- GENERAL -->
                <div class="tab-content outer" ng-if="settings.generalTab">
                    <div class="header">
                        <h2 translate>General</h2>
                    </div>
                    <div class="content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputLanguage" class="control-label">Language</label>
                                <div class="form-input">
                                    <select
                                      ng-model="settings.blogPreferences.language"
                                      ng-options="language.language_code as language.name for language in settings.availableLanguages"
                                      class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTheme" class="control-label">Theme</label>
                                <div class="form-input">
                                    <select
                                      ng-model="settings.blogPreferences.theme"
                                      ng-options="theme.name as theme.name + ' ' for theme in settings.availableThemes"
                                      class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmbedCode" class="control-label">Embed code</label>
                                <div class="form-input">
                                    <textarea class="form-control" readonly="readonly" select-text-on-click>{{settings.embedCode}}</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Users -->
                <div class="tab-content outer" ng-if="!settings.generalTab">
                    <div class="header">
                        <h2 translate>Team</h2>
                    </div>
                     <div class="content">
                        <div class="settings-subsection">
                            <div style="color: #666; font-weight: 400; border-bottom: 1px solid #e0e0e0;">
                                <h3 translate>Owner</h3>
                            </div>
                            <div class="subsettings-content">
                                <div style="display: inline-block; width: 300px">
                                    <div class="inline-content" style="padding-right:20px">
                                        <div class="form-input profile-pic">
                                             <figure class="avatar">
                                                <img data-src="settings.original_creator.user.picture_url">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="inline-content">
                                        <div class="form-input" data="original-creator-display-name">
                                           <strong>{{ settings.original_creator.display_name }}</strong>
                                        </div>
                                        <div class="form-input" data="original-creator-username">
                                            {{ settings.original_creator.username }}
                                        </div>
                                    </div>
                                </div>
                                <div style="display: inline">
                                    <div class="inline-content">
                                        <button class="btn btn-info" type="button" translate ng-click="settings.open = !settings.open">Change Owner</button>
                                    </div>
                                    <div class="inline-content">
                                        <div class="dropdown-content" ng-show="settings.open" ng-click=" $event.stopPropagation();">
                                            <div class="user-select">
                                                <div>
                                                    <form>
                                                        <label for="assignee-search" translate>Chose new owner</label>
                                                        <input type="text" name="assignee-search" ng-model="settings.search" class="input-large searchbox">
                                                    </form>
                                                    <div class="search-result">
                                                        <ul class="users-list-embed" style="max-height: 136px; overflow: auto;">
                                                            <li ng-repeat="user in settings.avUsers | filter:settings.search" ng-click="settings.temp_chosen = user" ng-class="{'active': settings.temp_chosen._id === user._id}">
                                                                <figure class="avatar small"><img data-src="user.picture_url"></figure>
                                                                <div class="name">{{user.display_name}}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="footer">
                                                <span class="clear pull-left" ng-click="settings.search = null" ng-show="settings.search" translate>Clear</span>
                                                <button class="btn btn-info pull-right" ng-click="settings.buildOwner(settings.temp_chosen._id); settings.open = false; $event.stopPropagation();" ng-disabled="!settings.temp_chosen" translate>Assign</button>
                                                <button class="btn pull-right" ng-click="settings.open = false;  $event.stopPropagation();" translate>Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<template-holder id="liveblog-embed-template" type="text/template">
<div data-gimme="liveblog-embed-code"></div>
<script type="text/javascript">
/* <![CDATA[ */
var liveblog = (function(d) {
var config = {
id: '{{id}}',
servers: {
    rest: '{{rest}}',
    frontend: '{{frontend}}'
},
paths: {
scripts: '/scripts/bower_components/embed/gui-resources/scripts/js/'
},
dev: true
};
config.baseUrl = config.servers.frontend + config.paths.scripts;
config.loadJs = function(path) {
var ls = d.createElement('script'), s = d.getElementsByTagName('script')[0];
ls.type = "text/javascript"; s.async =
true;
ls.src = path.indexOf('//') === -1
?
                    config.baseUrl + path + '.js?' + (config.urlArgs || 'version=' + parseInt((new Date()).getTime() / 600000)):
                    path;
                s.parentNode.insertBefore(ls, s); return ls;
    };
    config.loadJs('loader');
    return config;
})(document);
/* ]]> */
</script>
</template-holder>