<div class="subnav">
    <div class="button-stack left-stack" >
        <a class="navbtn homebtn" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </a>
    </div>
    <h3 class="page-nav-title">{{ settings.blog.title }}</h3>
    <div class="button-stack right-stack active settings-disabled">
        <span class="navbtn">
            <i class="svg-icon-settings"></i>
        </span>
    </div>
</div>

<div class="blog-settings-view">
    <div class="settings-page">
        <div class="subnav">
            <h3 class="page-nav-title">Settings</h3>
            <button ng-click="settings.reset()" class="btn btn-default reset-default" type="button" translate>Reset to default</button>
            <button ng-click="settings.saveAndClose()" class="btn btn-info pull-right" type="button" translate ng-disabled="!(settings.forms.dirty || settings.forms[settings.tab].$dirty)">Done</button>
            <button ng-click="settings.save()"  class="btn btn-info pull-right" type="button" translate ng-disabled="!(settings.forms.dirty || settings.forms[settings.tab].$dirty)">Save</button>
            <button ng-click="settings.close()" class="btn btn-default pull-right" type="button" translate>Cancel</button>
        </div>
        <div class="tabbable outer">
            <ul class="nav-tabs nav-stacked">
                <li ng-class="{active: (settings.tab === 'general')}">
                    <a ng-href="" ng-click="settings.changeTab('general')" translate>General</a>
                </li>
                <li ng-class="{active: (settings.tab === 'team')}" data="blog-settings-team">
                    <a ng-href="" ng-click="settings.changeTab('team')" translate>Team</a>
                </li>
            </ul>
            <div>
                <!-- GENERAL -->
                <div class="tab-content outer" ng-if="(settings.tab === 'general')">
                    <div class="header">
                        <h2 translate>General</h2>
                    </div>
                    <div class="content">
                        <form class="form-horizontal" name="settings.forms.general">
                            <div class="form-group">
                                <label for="inputTitle" class="control-label" translate>Blog Status</label>
                                <div class="form-input top-pad">
                                    <span class="blog-status">{{ settings.blog_switch ? 'Active' : 'Archived' | translate }}</span>
                                    <span tooltip="{{ settings.blog_switch ? 'Archive Blog' : 'Activate Blog' | translate }}" tooltip-placement="right">
                                        <span class="pull-left" sd-switch ng-model="settings.blog_switch" data-blog-status-switch></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTitle" class="control-label" translate>Blog Title</label>
                                <div class="form-input">
                                    <input
                                        name="inputTitle"
                                        ng-model="settings.newBlog.title"
                                        class="form-control"
                                    />
                                </div>
                            </div>                        
                            <div class="form-group">
                                <label for="inputDescription" class="control-label" translate>Blog Description</label>
                                <div class="form-input">
                                    <textarea
                                        name="inputDescription"
                                        ng-model="settings.newBlog.description"
                                        class="form-control"
                                    ></textarea>
                                </div>
                            </div>                        

                            <div class="form-group">
                                <label for="inputLanguage" class="control-label" translate>Language</label>
                                <div class="form-input">
                                    <select
                                      ng-model="settings.blogPreferences.language"
                                      ng-options="language.language_code as language.name for language in settings.availableLanguages"
                                      class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTheme" class="control-label" translate>Theme</label>
                                <div class="form-input">
                                    <select
                                      ng-model="settings.blogPreferences.theme"
                                      ng-options="theme.name as theme.name + ' ' for theme in settings.availableThemes"
                                      class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmbedCode" class="control-label" translate>Embed code</label>
                                <div class="form-input">
                                    <textarea class="form-control" rows="6" readonly="readonly" select-text-on-click><iframe width="100%" height="715" src="{{ settings.iframe_url }}" frameborder="0" allowfullscreen></iframe></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Users -->
                <div class="tab-content outer" ng-if="(settings.tab === 'team')">
                    <div class="header">
                        <h2 translate>Team</h2>
                    </div>
                     <div class="content">
                        <div class="settings-subsection">
                            <div class="subsettings-header">
                                <h3 translate>Owner</h3>
                            </div>
                            <form class="form-horizontal" name="settings.forms.team">
                                <div class="subsettings-content">
                                    <div class="inline-content first-block">
                                        <div class="inline-content padded-right">
                                            <div class="form-input profile-pic">
                                                 <figure class="avatar">
                                                    <img data-src="settings.original_creator.user.picture_url">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="inline-content">
                                            <div class="form-input" data="original-creator-display-name">
                                               <strong>{{ settings.original_creator.display_name }}</strong>
                                            </div>
                                            <div class="form-input" data="original-creator-username">
                                                {{ settings.original_creator.username }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline-content">
                                        <div class="inline-content">
                                            <button class="btn btn-info" type="button" translate ng-click="settings.open = !settings.open">Change Owner</button>
                                        </div>
                                        <div class="inline-content">
                                            <div class="dropdown-content" ng-show="settings.open" ng-click=" $event.stopPropagation();">
                                                <div class="user-select">
                                                    <div>
                                                        <form>
                                                            <label for="assignee-search" translate>Chose new owner</label>
                                                            <input type="text" name="assignee-search" ng-model="settings.search">
                                                        </form>
                                                        <div class="search-result">
                                                            <ul class="users-list-embed">
                                                                <li ng-repeat="user in settings.avUsers | filter:settings.search" ng-click="settings.temp_selected_owner = user" ng-class="{'active': settings.temp_selected_owner._id === user._id}">
                                                                    <figure class="avatar small"><img data-src="user.picture_url"></figure>
                                                                    <div class="name">{{user.display_name}}</div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <span class="clear pull-left" ng-click="settings.search = null" ng-show="settings.search" translate>Clear</span>
                                                    <button class="btn btn-info pull-right" ng-click="settings.buildOwner(settings.temp_selected_owner._id); settings.open = false; $event.stopPropagation(); settings.forms.team.$setDirty();" ng-disabled="!settings.temp_selected_owner" translate>Select</button>
                                                    <button class="btn pull-right" ng-click="settings.open = false;  $event.stopPropagation();" translate>Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
