<div rollshow class="timeline-post-actions">
    <span class="dropdown" dropdown >
        <div class="timeline-actions-more dropdown-toggle" dropdown-toggle></div>
        <ul class="dropdown-menu" id="timeline-dropdown">
            <li><a href="#" onclick="return false;"><i class="icon-edit"></i><span translate>Edit</span></a></li>
            <li><a ng-click="removePost();" style="cursor: pointer"><i class="icon-remove"></i><span translate>Remove post</span></a></li>
            <li><a href="#" onclick="return false;"><i class="icon-align-justify"></i><span translate>Another action</span></a></li>
        </ul>
    </span> 
</div>
