<section class="main-section bloglist marketer">
    <header>
        <button
            class="filter-trigger"
            title="{{ :: 'Filters' | translate }}"
            ng-click="togglePanel()"
            ng-class="{'filter-trigger--active': flags.facets}">
            <i class="icon-filter-large"></i>
        </button>
        <div sd-pagination data-items="blogs" data-limit="pageLimit"></div>
    </header>

    <div class="list-container">
        <div
            lb-search-panel
            store="store"
            class="archive-sidebar"
            ng-if="searchPanel"></div>
        <!-- GRID VIEW -->
        <!--<div ng-hide="blogs._items" class="not-found">-->
        <!--    <p>Not found</p>-->
        <!--</div>-->

        <div class="marketer-banner" ng-class="{'open': searchPanel}">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Logo_DPA_neu.svg/2000px-Logo_DPA_neu.svg.png"
                class="logo" />
            <div class="content">
                <h3>Deutsche Presse-Agentur</h3>
                <p>Wisbyerstr. 22a, 10900 Berlin, Germany</p>
                <dl>
                    <dt>Tel:</dt>
                    <dd>+49 1636884263</dd>
                    <dt>Fax:</dt>
                    <dd>+49 1636884263</dd>
                    <dt>Email:</dt>
                    <dd><a href="mailto:internationalsales@dpa.com">internationalsales@dpa.com</a></dd>
                </dl>
            </div>
        </div>

        <ul class="card-list" ng-class="{'open': searchPanel}" ng-show="blogs._items">
            <li
                ng-repeat="blog in blogs._items track by blog._id"
                ng-click="openEmbedModal(blog)"
                class="can-access">
                <figure class="media">
                    <div
                        ng-if="blog.picture_url"
                        if-background-image="{{blog.picture_url}}"></div>
                </figure>
                <div class="content">
                    <h3>{{ ::blog.title }}</h3>
                    <div class="description">{{ ::blog.description | htmlToPlaintext }}</div>
                </div>
                <div class="footer">
                    <dl>
                        <dt>{{ ::'Blog owner' | translate }}:</dt>
                        <dd>{{ ::blog.marketer_name }}</dd>
                        <dt>{{ ::'Start date' | translate }}:</dt>
                        <dd><time>{{ ::blog.start_date | reldate }}</time></dd>
                        <dt>{{ ::'Category' | translate }}:</dt>
                        <dd>{{ ::blog.category }}</dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>

    <div lb-blog-preview-modal store="store"></div>
</section>
