<div class="subnav">
    <div class="button-stack left-stack" >
        <button class="navbtn hover" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </button>
        <ul class="nav nav-tabs pull-left" >
            <li ng-class="{active: activeState === state}" ng-repeat="state in states">
                <button ng-click="changeState(state)" translate>{{ ::state.text }}</button>
            </li>
        </ul>
    </div>
</div>

<section class="main-section bloglist">
    <header>
        <div sd-searchbar></div>
        <div sd-pagination data-items="marketer.blogs" data-limit="25"></div>
    </header>
    <div class="list-container">
        <!-- GRID VIEW -->
        <ul class="card-list">
            <li
                ng-repeat="blog in marketer.blogs._items track by blog._id"
                ng-click="openEmbedModal(blog)"
                class="can-access">
                <figure class="media">
                    <div ng-if="blog.picture_url" if-background-image="{{blog.picture_url}}"></div>
                </figure>
                <div class="content">
                    <h3>{{ ::blog.title }}</h3>
                    <div class="description">{{ ::blog.description | htmlToPlaintext }}</div>
                </div>
                <div class="footer">
                    <dl>
                        <dt>{{ ::'Blog owner' | translate }}:</dt>
                        <dd>{{ ::blog.original_creator | username }}</dd>
                        <dt ng-if="isAdmin()">{{ ::'Theme' | translate }}:</dt>
                        <dd ng-if="isAdmin()">{{ ::blog.blog_preferences.theme }}</dd>
                        <dt>{{ ::'Created' | translate}}:</dt>
                        <dd sd-reldate ng-model="blog._created"></dd>
                        <dt>{{ ::'Last udpated' | translate }}:</dt>
                        <dd><time>{{ ::blog._updated | reldate }}</time></dd>
                        <dt>{{ ::'No. of Posts' | translate }}:</dt>
                        <dd>{{ ::blog.posts_count }}</dd>
                        <dl>
                        <dt> {{ :: 'Last posted' | translate }}:</dt>
                        <dd ng-if="blog.last_posted" sd-reldate ng-model="blog.last_posted"></dd>
                        <dd ng-if="blog.posts_count == 0"> No posts yet</dd>
                        </dl>
                    </dl>
                </div>
            </li>
        </ul>
    </div>

    <div sd-modal="" data-model="embedModal">
        <div class="modal-header">
            <button class="close" ng-click="cancelEmbed()">
                <i class="icon-close-small"></i>
            </button>
            <h3><span>Producer Blog:</span> {{currentBlog.title}}</h3>
        </div>
        <div class="modal-body" style="min-height: 300px;">
            <iframe
                class="modal-body"
                width="100%"
                height="715"
                ng-src="{{currentBlog.public_url}}"
                frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>
</section>
