<div>
    <div class="header">
        <div class="backlink-toolbar">
            <h4 translate>Filter Marketers</h4>
            <div class="doopen" ng-click="close()"><i class="icon-close-small"></i></div>
        </div>
    </div>

    <div class="content">
        <div class="filter-content">
            <div
                lb-search-filter
                filters="filters"
                terms="categories"
                title="{{:: 'Categories' | translate }}"
                key="category"
                id="code"></div>
            <div
                lb-search-filter
                filters="filters"
                terms="marketers._items"
                title="{{:: 'Marketers' | translate }}"
                key="marketer._id"
                id="_id"></div>
            <div
                lb-search-filter
                filters="filters"
                terms="languages"
                title="{{:: 'Languages' | translate }}"
                key="language"
                id="code"></div>
        </div>
    </div>

    <div sd-save-search></div>
</div>
