<div class="subnav">

    <div class="button-stack left-stack" >
        <a class="navbtn homebtn" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </a>
    </div>

     <h3 class="page-nav-title">{{ blog.title }}</h3>
     <button class="btn" style="margin-left: 20px;" type="button" translate ng-click="toggleBlogState()">{{ toggleStateText }}</button>
    <div class="button-stack right-stack">
        <button class="navbtn">
            <i class="svg-icon-settings"></i>
        </button>
    </div>
    <button class="btn btn-info pull-right" type="button" translate ng-click="toggleBlogState()">{{ toggleStateText }}</button>
</div>

<section class="main-section blogedit">

	<!-- left sidebar -->
	<div class="side-menu"></div>

	<div class="columns-holder">

		<!-- editor column -->
		<div class="column column-editor">
            <span ng-show="!disableInterfaceSwitch">
    			<header>
    				<button class="btn btn-info pull-right" ng-click="create()" translate ng-disabled="disableInterfaceSwitch">New</button>
    			</header>
    			<div class="content">
    				<div class="editor-holder">
    					<div class="editor">
    						<textarea class="editor" ng-model="post"></textarea>
    					</div>
    					<div class="actions">
    						<button class="btn" translate><i class="filetype-icon-text"></i> Add text</button>
    						<button class="btn" translate><i class="filetype-icon-photo"></i> Add image</button>
    						<button class="btn" translate><i class="icon-dots"></i>Add embed</button>
    					</div>
    				</div>
    				<div class="actions">
    					<button class="btn" ng-disabled="!post" translate>Save as draft</button>
    					<button class="btn btn-info" ng-disabled="!post" ng-click="publish()" translate>Publish</button>
    				</div>
    			</div>
            </span>
            <span ng-show="disableInterfaceSwitch">
                <div class="alert alert-danger margin15px" role="alert">
                    <span><strong translate>This blog is closed!</strong></span><br />
                    <span translate >No posts allowed on closed blogs. Reopen the blogs in order to make any changes</span>
                </div>
            </span>
		</div>

		<!-- timeline column -->
		<div class="column column-timeline" ng-init="isTimeline = true">
			<header>
				<ul class="nav nav-tabs">
		            <li ng-class="{active: isTimeline}" ng-click="isTimeline = true">
		                <button translate>Timeline</button>
		            </li>
		            <li ng-class="{active: !isTimeline}" ng-click="isTimeline = false">
		                <button translate>Blog details</button>
		            </li>
		        </ul>
			</header>
			<div class="content">
				<ul class="posts card-list" ng-if="isTimeline">
					<li ng-repeat="post in timeline track by $index">{{ post }}</li>
				</ul>
				<div ng-if="!isTimeline">
                    <form ng-submit="updateBlog(oldBlog)" name="blogForm" class="flat">
                        <fieldset>
                            <div class="field">
                                <label translate>Blog title</label>
                                <input type="text" name="title" ng-model="oldBlog.title" ng-blur="updateBlog(oldBlog)">
                            </div>
                            <div class="field">
                                <label translate>Blog description</label>
                                <textarea name="description" ng-model="oldBlog.description" ng-blur="updateBlog(oldBlog)"></textarea>
                            </div>
                        </fieldset>
                    </form>
				</div>
			</div>
		</div>
	</div>
</setion>

