<li>
    <div class="post-item-holder">
        <div class="table-cell post-item-figure">
            <figure class="avatar">
                <img class="ng-isolate-scope" data-src="post.picture_url" sd-user-avatar="" style="display: none;">
            </figure>
        </div> 
        <div class="table-cell">
            <div class="table-row">
            <strong>{{ post.original_creator_name }}</strong> | <time>{{ post._updated | reldate }}</time>
            </div>
            <div class="table-row"  lb-bind-html html-content="{{ shortText }}"></div>
            <div class="table-row" se-item="post" lb-bind-html html-content="{{ post.text }}" html-location="medium-editable" lb-simple-edit ng-if="!isCollapsed"></div>
        </div>
    </div>
    <div class="timeline-expander-holder" ng-if="needCollapsed" ng-click="toggleCollapsed()">
      <div class="timeline-expander-single-item"></div>
    </div>
</li>