<div class="subnav">

    <div class="button-stack left-stack" >
        <button class="navbtn hover" href="/#/liveblog">
            <i class="icon-th-large"></i>
        </button>
        <div class="navbtn dropdown">
    		<button class="dropdown-toggle">Active blogs <b class="caret"></b></button>
			<ul class="dropdown-menu">
				<li><a href="">Active blogs</a></li>
				<li><a href="">Archived blogs</a></li>
			</ul>
    	</div>
    </div>

    <div class="button-stack right-stack">
        <button class="navbtn navbtn-info" ng-click="modalActive = true">
            <i class="svg-icon-add inverse"></i> <span class="title" translate>Create Blog</span>
        </button>
    </div>
</div>

<section class="main-section bloglist" ng-init="gridview = true">
	<header>
		<div sd-searchbar></div>
		<div class="view-select pull-right">
            <button title="{{ 'switch to grid view' | translate}}" ng-show="gridview !== true"><i class="icon-th" ng-click="gridview = true"></i></button>
            <button title="{{ 'switch to list view' | translate}}" ng-show="gridview !== false"><i class="icon-th-list" ng-click="gridview = false"></i></button>
        </div>
        <div sd-pagination data-items="blogs" data-limit="25"></div>
	</header>
	<div class="list-container">
		<ul class="card-list">
			<li ng-repeat="blog in blogs._items" ng-click="edit(blog)">
				<div class="close" ng-click="remove(blog)"><i class="icon-close-small"></i></div>
				<div class="content">
					<span class="time">{{ 'Last udpated' | translate}}: <time>{{ blog.last_updated | reldate }}</time></span>
					<h3>{{ blog.title }}</h3>
					<div class="description">{{ blog.description }}</div>
				</div>
				<div class="footer">
					<dl>
					  <dt>{{ 'Blog owner' | translate }}:</dt>
					    <dd>{{ blog.user }}</dd>
					  <dt>{{ 'Created' | translate}}:</dt>
					    <dd sd-reldate ng-model="blog._created"></dd>
					</dl>
				</div>
			</li>
		</ul>
	</div>

	<div sd-modal-view data-model="modalActive">
		<div class="modal-header"> 
			<button class="close" ng-click="cancel()"><i class="icon-close-small"></i></button>
			<h3 translate>Create New Blog</h3>
		</div>
		
		<div class="modal-body">
			<form>
				<fieldset>
					<div class="field">
						<label>Blog name</label>
						<input type="text" ng-model="newBlog.title">
					</div>
					<div class="field">
						<label>Blog description</label>
						<textarea ng-model="newBlog.description"></textarea>
					</div>
				</fieldset>
			</form>
		</div>

		<div class="modal-footer"> 
		  	<button class="btn btn-primary" ng-click="create()" translate>Create</button>
		</div>
	</div>


</setion>

