.advertising {
	overflow-x: hidden;
    overflow-y: scroll;

	.button-stack.right-stack {
		margin: 0px!important;
	}
	.section-title {
		float: left;
		padding: 7px 20px;
	}
	.right-important {
		float: right!important;
	}

	.advert-list-holder {
		margin-top: 60px;
		margin-left: 16px;
	}
	.green-state {
		border-color: #5e8d32!important;
    	color: #5e8d32!important;
    	margin-left: 20px;
	}
	.yellow-state {
		border-color: #d2a800;
    	color: #d2a800;
    	margin-left: 20px;
	}
	.adverts-in-collection {
		color: black;
		margin-left: 10px;
	}
	.card-box__content {
		min-height: 120px;
	}
	.ads-media {
        img {
            max-width: 100%;
            margin-bottom: 8px;
        }
    }
    .freetype--error {
        color: #b94a48;
        opacity: 0.6;
    }
    .ads-media-buttons {
        margin-top: 10px;
    }

    .preview img {
        width: auto !important;
        max-width: 100%;
    }

    .preview .preview-large {
        text-align: center;
    }
}
