<div class="lb-item commentItem">
    <article>{{ item.groups[1].refs[0].item.text | safe }}</article>
</div>
{% if item.groups[1].refs|length > 1 %}
<div class="items-containerIndent">
{% set secondary = item.groups[1].refs[1].item %}
  <!-- author plus avatar -->
  <div class="lb-author lb-author--indent">
    {% if secondary.original_creator or secondary.syndicated_creator %}
        {% if secondary.original_creator and secondary.original_creator.picture_url %}
        <img class="lb-author__avatar" src="{{ secondary.original_creator.picture_url }}" />
        {% elif secondary.original_creator and secondary.syndicated_creator  and settings.showSyndicatedAuthor and mainItem.syndicated_creator.picture_url %}
        <img class="lb-author__avatar" src="{{ mainItem.syndicated_creator.picture_url }}" />
        {% else %}
        <div class="lb-author__avatar"></div>
        {% endif %}
        <div class="lb-author__name">
        {% if secondary.syndicated_creator and settings.showSyndicatedAuthor %}
            {{ secondary.syndicated_creator.display_name }}
        {% elif secondary.original_creator %}
            {{ secondary.original_creator.display_name }}
        {% endif %}
        {% if item.syndication_in and not settings.showSyndicatedAuthor %}
            <span class="lb-producer{% if settings.showSyndicatedAuthor %} lb-producer__author{% endif %}">{{ item.syndication_in.producer_blog_title }}</span>
        {% endif %}
        </div>
    {% endif %}
  </div>
  <!-- end author -->
    {% if item and item.groups and
            item.groups[1] and
            item.groups[1].refs and
            (item.groups[1].refs | length > 0) %}
        {% for ref in item.groups[1].refs %}
          {% if loop.index0 > 0 %}
              {% if ref.item.item_type == "image" %}
              {% if settings.showGallery and loop.index0 + 1 < loop.length and item.groups[1].refs[loop.index0 + 1].item.item_type == "image" and (loop.index0 - 1 < 1 or not (loop.index0 > 1 and item.groups[1].refs[loop.index0 - 1].item.item_type == "image")) %}
              <div class="lb-slideshow">
              {% endif %}
              <div class="lb-item {% if ref.item.meta.media.renditions.original.height > ref.item.meta.media.renditions.original.width %}portrait{% endif %}{{ref.item.item_type}}">
              {% else %}
              <div class="lb-item {{ref.item.item_type}}">
              {% endif %}
              {% if ref.item.item_type == "embed" %}
                {% include "template-item-embed.html" %}
              {% elif ref.item.item_type == "image" %}
                {% include "template-item-image.html" %}
              {% elif ref.item.item_type == "quote" %}
                {% include "template-item-quote.html" %}
              {% else %}
                <article>{{ ref.item.text | safe }}</article>
              {% endif %}
              </div>
              {% if ref.item.item_type == "image" and loop.index0 - 1 > 0 and item.groups[1].refs[loop.index0 - 1].item.item_type == "image" and not (loop.index0 + 1 >= loop.length or item.groups[1].refs[loop.index0 + 1].item.item_type == "image") %}
              </div>
              {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}