<article class="lb-post list-group-item show-author-avatar" data-js-post-id="{{ item._id }}">
  {% if item.sticky %}
    <div class="lb-type"></div>
  {% else %}
    <div class="lb-type lb-type--text"></div>
  {% endif %}
  
  {% if item.highlight %}
    <div class="lb-post-highlighted"></div>
  {% endif %}

  <div class="lb-post-date" data-js-timestamp="{{ item._updated }}">{{ item._updated  }}</div>

  <!-- author plus avatar -->
  <div class="lb-author">
    {% if settings.showAuthor %}
      <div class="lb-author__name">{{ item.publisher.display_name }}</div>
      {% if settings.showAuthorAvatar %}
        <img class="lb-author__avatar" src="{{ item.publisher.picture_url }}" />
      {% endif %}
    {% endif %}
  </div>
  <!-- end author -->

  <!-- item start -->
  {% for ref in item.groups[1].refs %}
    <div class="lb-item">
      {% if ref.item.item_type == "embed" %}
        {% include "template-item-embed.html" %}
      {% elif ref.item.item_type == "image" %}
        {% include "template-item-image.html" %}
      {% else %}
        <article>{{ ref.item.text | safe }}</article>
      {% endif %}
    </div>
  {% endfor %}
  <!-- item end -->

</article>