{% macro translate(text) %}{% if not options.i18n[settings.language] %}{{ text }}{% elif not options.i18n[settings.language][text] %}{{ text }}{% else %}{{ options.i18n[settings.language][text] }}{% endif %}{% endmacro %}
{% set mainItem = item.groups[1].refs[0].item %}
{% set postDate = item.published_date %}
{% set type = item.post_items_type %}
{% set galleryItem = false %}

{% if mainItem.commenter %}
  {% if item.groups[1].refs|length > 1 %}
    {% set type = 'comment' %}
  {% endif %}
  {% set postDate = mainItem._created %}
  {% if mainItem.meta._created %}
    {% set postDate = mainItem.meta._created %}
  {% endif %}
{% endif %}

<!-- sticky position toggle -->
{% if item.sticky and settings.stickyPosition == 'top' %}
<article
  class="lb-sticky-top-post list-group-item {{ type }} {% if displaynone %}mod--displaynone{% endif %}"
  data-post-id="{{ item._id }}"
  data-post-sticky="{{ item.sticky }}">
  {% else %}
<article
  class="lb-post list-group-item show-author-avatar {{ type }} {% if item.lb_highlight %}lb-post--highlighted{% endif %} {% if displaynone %}mod--displaynone{% endif %}"
  data-post-id="{{ item._id }}"
  data-post-sticky="{{ item.sticky }}">
  <div class="lb-post-header">
    
    <div class="lb-type lb-type--{{ item.post_items_type }}"></div>

    <div class="lb-post-date-icons">
      {% if item.sticky and item.lb_highlight %}
        <img src="{{ assets_root }}images/pinpost.svg" class="pin-icon" />
        <img src="{{ assets_root }}images/highlighted.svg" class="highlight-icon" />
      {% elif item.sticky %}
        <img src="{{ assets_root }}images/pinpost.svg" class="pin-icon" />
      {% elif item.lb_highlight %}
        <img src="{{ assets_root }}images/highlighted.svg" class="highlight-icon" />
      {% elif item.post_items_type == "advertisement" %}
        <div class="lb-advertisement">{{ translate('Advertisement') }}</div>
      {% endif %}

      <!-- remove advertisement stylization-->
      {% if item.post_items_type != "advertisement" %}
  
      <div class="lb-post-date relativeDate" data-js-timestamp="{{ postDate }}">{{ postDate }}</div>

    </div>
    <!-- author plus avatar -->
    <div class="lb-author">
      {% if mainItem.commenter and not (item.syndication_in and not settings.showSyndicatedAuthor) %}
        <div class="lb-author__name">
          {{ translate('Comment by') }} {{ mainItem.commenter }}
        </div>
        <img class="lb-author__avatar lb-author__avatar--comment" src="{{ assets_root }}images/comment_icon.svg">
      {% elif settings.showAuthor %}
        <div class="lb-author__name">
        {% if mainItem.syndicated_creator and settings.showSyndicatedAuthor %}
          {{ mainItem.syndicated_creator.display_name }}
        {% elif item.original_creator %}
          {{ item.original_creator.display_name }}
        {% elif item.publisher %}
          {{ item.publisher.display_name }}
        {% endif %}
        {% if item.syndication_in and not settings.showSyndicatedAuthor %}
          <span class="lb-producer{% if settings.showSyndicatedAuthor %} lb-producer__author{% endif %}">{{ item.syndication_in.producer_blog_title }}</span>
        {% endif %}
        </div>
        {% if type == 'comment' %}
          <img class="lb-author__avatar lb-author__avatar--comment" src="{{ assets_root }}images/comment_icon.svg">
        {% endif %}
        {% if settings.showAuthorAvatar and type != 'comment' %}
          {% if mainItem.syndicated_creator and settings.showSyndicatedAuthor and mainItem.syndicated_creator.picture_url %}
          <img class="lb-author__avatar" src="{{ mainItem.syndicated_creator.picture_url }}" />
          {% elif item.original_creator and item.original_creator.picture_url %}
          <img class="lb-author__avatar" src="{{ item.original_creator.picture_url }}" />
          {% elif item.publisher and item.publisher.picture_url %}
          <img class="lb-author__avatar" src="{{ item.publisher.picture_url }}" />
          {% else %}
          <div class="lb-author__avatar"></div>
          {% endif %}
        {% endif %}
      {% endif %}
      {% endif %}
      <!-- end remove advertisement stylization-->
    </div>
    <!-- end author -->
  </div>

  {% endif %}
  <!-- end sticky position toggle -->

  <!-- post start -->
  <div class="items-container">
  {% if type == "comment" %}
    {% include "template-post-comment.html" %}
  {% else %}
    {% if item and item.groups and item.groups[1] and item.groups[1].refs and (item.groups[1].refs | length > 0) %}
        {% for ref in item.groups[1].refs %}
          {% if ref.item.item_type == "image" %}
            {% if settings.showGallery and loop.index0 + 1 < loop.length and item.groups[1].refs[loop.index0 + 1].item.item_type == "image" and (loop.index0 - 1 < 0 or not (loop.index0 > 0 and item.groups[1].refs[loop.index0 - 1].item.item_type == "image")) %}
              {# this works only for first element in gallery loop bcs variables are scoped in jinja2 #}
              {% set galleryItem = true %}
              <!-- slideshow start -->
              <div class="lb-slideshow">
                <div class="lb-slideshow_frame">
                  <div class="lb-slideshow_slides">
            {% endif %}
            {# if previous item was an image and current item is an image as well = we are inside gallery loop #}
            {% if settings.showGallery and item.groups[1].refs[loop.index0 - 1].item.item_type == "image" %}
              {% set galleryItem = true %}
            {% endif %}
            <!-- image item start -->
            <div class="lb-item {% if ref.item.meta.media.renditions.original.height > ref.item.meta.media.renditions.original.width %}portrait{% endif %}{{ref.item.item_type}}">
          {% else %}
            <!-- item start -->
            <div class="lb-item {{ref.item.item_type}}">
          {% endif %}
          {% if ref.item.item_type == "embed" %}
            {% include "template-item-embed.html" %}
          {% elif ref.item.item_type == "image" and galleryItem %}
            {% include "template-item-galleryImage.html" %}
          {% elif ref.item.item_type == "image" %}
            {% include "template-item-image.html" %}
          {% elif ref.item.item_type == "quote" %}
            {% include "template-item-quote.html" %}
          {% elif ref.item.item_type == "comment" %}
            {% include "template-item-comment.html" %}
          {% else %}
            <article>{{ ref.item.text | safe }}</article>
          {% endif %}
          </div>
          <!-- item end -->
          {% if settings.showGallery and ref.item.item_type == "image" and loop.index0 - 1 >= 0 and item.groups[1].refs[loop.index0 - 1].item.item_type == "image" and item.groups[1].refs[loop.index0 + 1].item.item_type != "image" %}    </div>
                <span class="lb-slideshow_prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
                </span>
                <span class="lb-slideshow_next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
                </span>
              </div>
            </div>
            <!-- slideshow end -->
          {% endif %}
        {% endfor %}
    {% endif %}
  {% endif %}
  </div>
  <!-- post end -->

  <div class="lb-post-bottom">
    {% if settings.showUpdateDatetime and (item.content_updated_date != item.firstcreated) and item.post_items_type != "advertisement" %}
      <div class="lb-post-updated">
        <span>{{ translate('Updated') }}</span> <span class="lb-post-updated-time relativeDate" data-js-timestamp="{{item.content_updated_date}}">{{item.content_updated_date}}</span>
      </div>
    {% endif %}

    <div class="lb-post-actions">

      <div class="lb-post-share">
        <img src="{{ assets_root }}images/action_share.svg" class="lb-post-shareIcon" />
        <div class="lb-post-shareBox">
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//www.facebook.com/sharer.php?s=100&p[title]=&p[url]="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_facebook.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//plus.google.com/share?url="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_google.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//www.linkedin.com/shareArticle?mini=true&url="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_linkedin.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=570,height=400');return false;"
            data-link-base="//twitter.com/home?status="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_twitter.svg"/>
          </a>
          <a class="lb-post-shareBox__item"
            onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=1024,height=768');return false;"
            data-link-base="mailto:?to=&subject=Liveblog&body="
            data-link-id={{item._id}}><img src="{{ assets_root }}images/share_email.svg"/>
          </a>
          <span> | </span>
        </div>
      </div>
      <!-- end share -->

      <!-- permalink -->
      <div class="lb-post-permalink">
        <a id="{{ item._id }}" target="_blank">
          <img src="{{ assets_root }}images/action_link.svg" class="lb-post-linkIcon" />
        </a>
      </div>
      <!-- end permalink -->

    </div>

</article>
