<figure>
  <img 
    src="https://dpa.liveblog.pro/dpa/2017021305024/f488331c3b40c29fd64f2b09e47ed7ba7b7082aca0c14ac7564ff64e96a635dd.jpg"
    srcset="{{ ref.item.meta.media.renditions.baseImage.href }} 810w, 
    {{ ref.item.meta.media.renditions.thumbnail.href }} 240w, 
    {{ ref.item.meta.media.renditions.viewImage.href }} 540w" 
    alt="{{ ref.item.meta.caption }}">
  <figcaption>
    {{ ref.item.caption }} 
    <span ng-if="ref.item.meta.credit">
      {{ ref.item.credit }}
    </span>
  </figcaption>
</figure>

