<div class="lb-timeline" data-js-target="timeline">
  {% block timeline %}
  <div class="lb-timeline {{ options.language }}">
    {% if theme_options.settings.showTitle %}
      <h1>{{theme_options.blog.title}}</h1>
    {% endif %}
    <!-- Header -->
    <div class="header-bar">
      <div class="sorting-bar">
          <div class="sorting-bar__orders">
              <div
                id="newest_first"
                class="sorting-bar__order sorting-bar__order--active"
                data-js-orderby-newest-first>
                {{ theme_options.l10n.newestFirst }}</div>
              <div
                id="oldest_first"
                class="sorting-bar__order"
                data-js-orderby-oldest-first>
                {{ theme_options.l10n.oldestFirst }}</div>
          </div>
      </div>
      <div class="header-bar__actions"></div>
    </div>
    <!-- Header End -->

    <!-- Timeline -->
    <div class="timeline-body timeline-body--loaded">
      {% if api_response._items|length == 0 %}
        <div class="lb-post empty-message">
          <div>Blog posts are not currently available.</div>
        </div>
        {% else %}
        <section class="lb-posts list-group">
          {% for item in api_response._items %}
            {% if not item.deleted %}
              {% include "template-post.html" %}
            {% endif %}
          {% endfor %}
        </section>
        {% if api_response._meta.max_results <= api_response._meta.total %}
          <button class="lb-button load-more-posts" data-js-loadmore>{{ theme_options.l10n.loadNewPosts }}</button>
        {% endif %}
      {% endif %}
    </div>
    <!-- Timeline End -->
  </div>
  {% endblock %}
</div>

{% include "template-embed-providers.html" %}

{% if options and include_js_options %}
<script type="text/javascript">
window.LB = {{ options|safe }};
</script>
{% endif %}
