@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(http://themes.googleusercontent.com/static/fonts/cabin/v5/K6ngFdK5haaaRGBV8waDwA.ttf) format('truetype');
}
body, html {
    background-color: #F6F6F6 !important;
}

.lb-timeline {
    font-family: Cabin;
}

.lb-timeline h1 {
    text-transform: capitalize;
    padding-left:20px;
}

.lb-timeline .lb-posts {
    margin-top: 20px;
}
.lb-timeline .lb-post:first-child {
    border-top: 0.0625rem solid red;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.lb-timeline .lb-post {
    margin-bottom: 12px;
    border-top: 0.0625rem solid #BDBDBD;
    border-bottom: 0.0625rem solid #EAEAEA;
}
.lb-timeline .lb-avatar {
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background: #B9B9B9 url("../images/avatar_64.png") no-repeat scroll 0% 0% / 100% auto;
    float: left;
    border-radius: 50%;
}
.lb-timeline .lb-avatar img {
    height: auto;
    display: block;
    width: 100%;
}
.lb-timeline .lb-user-info {
    text-transform: capitalize;
    padding-top: 5px;
    padding-left: 36px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EAEAEA;
}
.lb-timeline .lb-item {
    padding: 10px;
    margin: 5px;
}

.lb-post.ng-enter, .lb-post.ng-leave {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
}
.lb-post.ng-enter, .lb-post.ng-leave.ng-leave-active {
    opacity: 0;
}
.lb-post.ng-enter.ng-enter-active, .lb-post.ng-leave  {
    opacity: 1;
}
