body {
    background-color: #EAEAEA;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    line-height: 1.35em;
    font-size: 14px;
}
h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
}
img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img.pswp__img {
    max-width: none;
    max-height: none;
}
.content-item {
    margin: 15px 10px;
}
i {font-style: italic;}
a {
    color: #3394bc !important;
}
a:hover {
    text-decoration: none;
}
ul, ol {
    margin-left: 20px;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
button {
    display: table;
    margin: auto;
    padding: 5px 25px;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 1;
    appearance: none;
    box-shadow: none;
    color: #5ea9c8;
    background: rgba(0,0,0,0);
    cursor: pointer;
    border: solid 3px #5ea9c8;
}
button:focus {outline: none}
button:hover,
button.hover {
    border-color: #346392;
    color: #346392;
}
button:active,
button.active {
    border-color: #27496d;
    color: #27496d;
}
.border-bottom {
    border-bottom: 1px solid #CBCBCB;
}
.lb-timeline {
    clear: both;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    border-top: 2px solid #CBCBCB;
    overflow: hidden;
    padding-bottom: 100px;
}
.lb-timeline__header, .lb-post {
    padding: 15px 10px;
}
.illustration {
    margin: 20px 0;
    text-align: center;
}
.description {
    font-size: 16px;
}
.timeline-body {
    position: relative;
}
.header-bar {
    background-color: #FAFAFA;
    border-top: 2px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    padding: 12px 0 0 10px;
    margin: 10px 0 0 0;
    position: relative;
}
.header-bar__actions {
    position: absolute;
    right: 100px;
    top: 5px;
}
.btn {
    background-color: rgba(0, 0, 0, 0.15);
    border: 0 none;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 12px;
    margin-bottom: 0;
    outline: medium none !important;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}
.header-bar .btn {
    vertical-align: initial;
}
.btn:hover, .header-bar__btn:focus {
  background-color: rgba(0, 0, 0, 0.235);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #333333;
}
.btn:active, .btn.active{
    outline: none;
    border: none;
    outline-offset: -2px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.252);
}
.btn-primary {
    color: #ffffff;
    background-color: #5ea9c8;
}
.btn-primary:hover {
    background-color: #5598b4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #ffffff;
}
.btn-primary:active {
    background-color: #5ea9c8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.252);
}
.btn.comment i {
    display: none;
}
.modal-backdrop {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0;
    z-index: 2;
}
.modal {
    z-index: 3;
}
.modal .content {
    position: relative;
    border-radius: 3px;
    background: #fff;
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    box-sizing: border-box;
}
.modal .modal-header {
    padding: 25px 15px 10px;
    box-sizing: border-box;
}
.modal .modal-footer {
    padding: 15px 25px 25px;
    box-sizing: border-box;
    text-align: right;
}
.modal .modal-footer .btn + .btn {
    margin-left: 5px;
}
.modal .modal-body {
    padding: 0 15px;
    box-sizing: border-box;
}
.modal .content h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.modal .content .field {
    margin: 4px 0 20px 0;
}
.modal .content label {
    padding: 10px 0 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
}
.modal .content input, .modal .content textarea {
    padding: 6px 6px 6px 0;
    width: 100%;
    display: block;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    font-family: 'Roboto';
    transition: 0.3s;
}
.ng-invalid-minlength {
    border-color: rgba(184, 47, 0, 0.3);
}
.modal .content input:hover, .modal .content textarea:hover {
    border-color: rgba(0, 0, 0, 0.3);
}
.modal .content input:focus, .modal .content textarea:focus {
    outline: none !important;
    box-shadow: 0 1px 0 0 #5ea9c8 !important;
    border-color: #5ea9c8 !important;
}
.modal .content .error {
    text-transform: uppercase;
    color: #b82f00;
    font-size: 11px;
}
.comment-active {
    min-height: 250px;
}
.sorting-bar {
    min-height: 28px;
}
.sorting-bar__title {
    float: left;
    text-transform: uppercase;
    position: absolute;
    color: #adadad;
    font-size: 11px;
    font-weight: 500;
}
.sorting-bar__orders {
    float: left;
    margin-right: 90px;
}
.sorting-bar__order {
    float: left;
    margin: 0 10px;
    padding-bottom: 8px;
    cursor: pointer;
    color: #999999;
    font-size: 13px;
}
.sorting-bar__order--active, .sorting-bar__order:hover {
    color: #333333;
    border-bottom: 2px solid #5ea9c8;
}
.sorting-bar__orders-mobile {
    display: none;
}
.header-bar__logo {
    position: absolute;
    right: 10px;
    top: 5px;
    max-height: 50px;
    max-width: 75px;
    img {
        max-height: 29px;
    }
}
.load-new-posts {
    font-size: 1.2em;
    text-align: center;
    color: #5ea9c8;
    cursor: pointer;
}
.load-new-posts:hover {
    background-color: rgba(94, 169, 200, 0.11);
}
.lb-posts {
    clear: both;
    margin-bottom: 20px;
    position: relative;
}
.lb-post {
    position: relative;
    border-bottom: 1px solid #DDD;
}
.lb-post.ng-enter, .lb-post.ng-move {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
  opacity:0;
}
.lb-post.ng-enter.ng-enter-active,
.lb-post.ng-move.ng-move-active {
  opacity:1;
}
.lb-author {
    position: relative;
    margin-bottom: 20px;
}
.lb-author:after {
    content: '';
    clear: both;
    display: block;
}
lb-producer__author:before {
    content: '(';
}
.lb-producer__author:after {
    content: ')';
}
.lb-author__avatar {
    display: block;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background: #FFFFFF url("../images/avatar_64.svg") no-repeat scroll 0% 0% / 100% auto;
    width: 42px;
    height: 42px;
    left: -80px;
}
.lb-author__name, .lb-author__date {
    float: left;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 13px;
}
.lb-author__comment {
    display: block;
    position: absolute;
    border-radius: 0;
    overflow: hidden;
    background: #FFFFFF url("../images/comment_32.svg") no-repeat scroll 0% 0% / 100% auto;
    color: #BBBBBB;
    width: 32px;
    height: 32px;
    left: -74px;
    opacity: .26;
}
.lb-author__date {
    padding-right: 20px;
}
.show-author-avatar .lb-author, .show-author-avatar .lb-item {
    margin-left: 80px;
}
.lb-gallery {
    margin-left: 80px;
}
.lb-advertisement, .lb-advertisment {
    color: #767676;
    font-size: 0.75rem;
    line-height: 1.25rem;
    height: 1.5rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}
.lb-item-advertisement_local,
.lb-item-advertisement_remote,
.lb-item-advertisment_local,
.lb-item-advertisment_remote {
    text-align: center;
}
.lb-mainitem-advertisement_local,
.lb-mainitem-advertisement_remote,
.lb-mainitem-advertisment_local,
.lb-mainitem-advertisment_remote {
    background-color: #eaeaea;
}
.lb-item {
    clear: both;
}
}
.lb-post-date {
    float: left;
    padding-right: 20px;
}
.lb-updated-date {
    font-size: 10px;
    color: #adadad;
    text-align: right;
    text-transform: uppercase;
    margin-top: 20px;
}
.lb-updated-date span {
    color: #333333;
    font-weight: 500;
    font-size: 13px;
}
/* text */
article {
    font-size: 14px;
    overflow: hidden;
}
article h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}
article h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}
article b {
    font-weight: bold;
}
article p {
    margin: 1em 0;
}
/* images */
article .liveblog--card {
    font-size: 0.9em;
    line-height: 1.25em;
}
/* quote */
article blockquote {
    position: relative;
    margin: 30px 0 0 30px;
}
article blockquote p {
    font-size: 1.25em;
    line-height: 1.25em;
}
article blockquote p:before {
    font-family: Georgia,"Times New Roman", Serif;
    font-size: 3em;
    content: '\201C';
    position: absolute;
    top: 0.3em;
    left: -0.6em;
    color: #7C7C7C;
}
article blockquote li {
    text-align: right;
    margin:10px 0;
}
article blockquote li:before {
    color: #7C7C7C;
    content: "—";
    margin-left: -20px;
    padding-right: 5px;
}
.item--embed__figure, .item--embed__illustration {
   width: 200px;
   float: left;
   margin-right: 20px;
}
.item--embed__only-illustration {
   width: 100%;
   float: left;
   margin-right: 20px;
}

.item--embed__description,
.item--embed__credit {
    padding-top: 10px;
}
.item--embed__title {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.25em;
    margin-bottom: .25em;
}
.item--embed__credit {
    text-align: right;
}
.item--embed__figure {
    position: absolute;
    width: 200px;
}
/* loading */
.loading {
    color: #5ea9c8;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 1em;
    font-weight: 300;
    opacity: 1;
    transition-property: opacity;
    transition-duration:.25s;
}
.loading.ng-hide {
    opacity: 0;
}
.lb-post-social {
    position: absolute;
    top: 10px;
    right: 50px;
    visibility: visible;
}
.lb-post-permalink {
    position: absolute;
    top: 10px;
    right: 30px;
    visibility: visible;
}
.lb-post-highlighted {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f89406;
}
.toggleHighlights {
    height: auto;
    padding: 3px 10px 4px 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(215, 215, 215, 0.7);
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
}
.toggleHighlights.active {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.252);
}
/* pinned posts */
.pin-posts .lb-post{
    background-color: rgba(94, 169, 200, 0.11);
}
.pin-drawer-info {
    color: gray;
    font-size: 11px;
    margin-left: 4px;
    text-transform: uppercase;
    padding: 4px 5px;
}
.pin-drawer-button {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 0;
    padding: 0;
    left: 50%;
    margin-left: -11.5px;
    background-color: #ffffff;
    z-index: 2;
    margin-top: -10px;
    line-height: 0;
    border-radius: 23px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.fa-chevron-fix {
    margin-bottom: 3px;
    margin-left: 1px;
}
.chevron-active {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.pin-drawer {
    background-color: rgba(94, 169, 200, 0.11);
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
}

.livestream .pin-posts .lb-post {
    background-color: initial!important;
    border-bottom: none!important;
    border-top: 1px solid #eee!important;
}


@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
.lb-post-permalink-selected {
    background-image:none !important;
    -webkit-animation: fadeIt 5s ease-in-out;
       -moz-animation: fadeIt 5s ease-in-out;
         -o-animation: fadeIt 5s ease-in-out;
            animation: fadeIt 5s ease-in-out;
}
/* Languages settings */
.ro .sorting-bar__orders {
    padding-left: 95px;
}
.en .sorting-bar__orders {
    padding-left: 70px;
}
.fr .sorting-bar__orders {
    padding-left: 50px;
}
.de .sorting-bar__orders {
    padding-left: 75px;
}
.nl .sorting-bar__orders {
    padding-left: 50px;
}
.no .sorting-bar__orders {
    padding-left: 75px;
}
/* Scorecard styles */
body .scorecard-top {
	background: #f5f5f5;
	padding: 20px;
	border-radius: 0px;
}

/* Remove this is angular-gettext is updated */
[translate]{visibility:hidden !important;}

/* Font icon */
@font-face {
  font-family: 'lb-icons';
  src:  url('../fonts/lb-icons.eot?al198z');
  src:  url('../fonts/lb-icons.eot?al198z#iefix') format('embedded-opentype'),
    url('../fonts/lb-icons.ttf?al198z') format('truetype'),
    url('../fonts/lb-icons.woff?al198z') format('woff'),
    url('../fonts/lb-icons.svg?al198z#lb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lb-icons' !important;
  speak: none;
  display: inline-block;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #333;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* modifiers */
.icon--large {
  height: 32px;
  font-size: 32px;
  line-height: 32px;
}
.icon--orange {
    color: #f89406;
}
.icon--blue {
    color: #5ea9c8;
}
.icon--white {
    color: #FFF;
}
/* icons definition */
.icon-star:before {
  content: "\e900";
}
.icon-link:before {
  content: "\e901";
}
.icon-zen:before {
  content: "\e902";
}
.icon-exit-zen:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\e906";
}
.icon-comment:before {
  content: "\e907";
}

/* Media queries */
/* hide permalink on larger screens, show only on hover */
@media (min-width: 1025px) {
    .lb-post-permalink, .lb-post-social {
        visibility: hidden;
    }
    .lb-post:hover .lb-post-permalink, .lb-post:hover .lb-post-social {
        visibility: visible;
    }
}
/* adapt embed card to small screens
 * Remove the two cols layout
*/
@media (max-width: 650px) {
    .item--embed__illustration {
        position: relative;
        width: auto;
    }
    .item--embed__illustration ~ * {
        margin-left: 0;
    }
    .scorecard-top span.team-score {
    	margin-bottom: 10px;
    }
}
@media (max-width: 600px) {
    .lb-timeline {
        margin-top: 0;
    }
    .show-author-avatar .lb-author{
        margin-left: 50px;
    }
    .show-author-avatar .lb-item {
        margin-left: 0;
    }
    .lb-author__avatar  {
        left: -50px;
    }
    .lb-author__comment {
        left: -46px;
    }
    .lb-author__date {
        float: none;
    }
    .sorting-bar {
        min-height: 38px;
    }
    .sorting-bar__title {
        display: none;
    }
    .sorting-bar__orders {
        padding-left: 0 !important;
        display: none;
    }
    .sorting-bar__orders-mobile {
        display: block;
    }
    .header-bar {
        padding: 0;
    }
    .btn.comment {
        font-size: 0;
        line-height: 0;
        float: right;
    }
    .btn.comment i {
        display: inline-block;
        line-height: 12px;
    }
}
@media (max-width: 320px) {
    .sorting-bar .btn {
        padding: 10px;
    }
}

.justified-gallery>a>.caption {
    max-height: 45%;
}

/* Social sharing */
.share-box {
    background: #F8F8F8;
    padding: 10px;
    border: 1px solid #D0D0D0;
    position: absolute;
    top: 18px;
    right: 25px;
    z-index: 5;
    width: 140px;
    height: 24px;
}

.share-box a {
    text-decoration: none;
}

.share-icon {
    color: #5ea9c8;
    cursor: pointer;
}
.social-icon {
    font-size: x-large!important;
    margin-left: 4px!important;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.2%;
    height: 0;
    margin: 10px 0;
    overflow: hidden;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
