body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    line-height: 1.35em;
    font-size: 14px;
}
h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
}
img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
}
.content-item {
    margin: 15px 10px;
}
i {font-style: italic;}
a {
    color: #3394bc !important;
}
a:hover {
    text-decoration: none;
}
ul, ol {
    margin-left: 20px;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
button {
    display: table;
    margin: auto;
    padding: 5px 25px;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 1;
    appearance: none;
    box-shadow: none;
    color: #5ea9c8;
    background: rgba(0,0,0,0);
    cursor: pointer;
    border: solid 3px #5ea9c8;
}
button:focus {outline: none}
button:hover,
button.hover {
    border-color: #346392;
    color: #346392;
}
button:active,
button.active {
    border-color: #27496d;
    color: #27496d;
}
.lb-timeline {
    clear: both;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 2px solid #CBCBCB;
    overflow: hidden;
    padding-bottom: 200px;
}
.lb-timeline__header, .lb-post {
    padding: 15px 10px;
}
.illustration {
    margin: 20px 0;
    text-align: center;
}
.description {
    font-size: 16px;
}
.timeline-body {
    position: relative;
}   
.header-bar {
    background-color: #FAFAFA;
    border-top: 2px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    padding: 10px 0 0 10px;
    margin: 10px 0 0 0;
    position: relative;
}
.header-bar__actions {
    position: absolute;
    right: 100px;
    top: 5px; 
}
.btn {
    background-color: rgba(0, 0, 0, 0.15);
    border: 0 none;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 12px;
    margin-bottom: 0;
    outline: medium none !important;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}
.btn:hover, .header-bar__btn:focus {
  background-color: rgba(0, 0, 0, 0.235);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #333333;
}
.btn:active, .btn.active{
    outline: none;
    border: none;
    outline-offset: -2px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.252);
}
.btn-primary {
    color: #ffffff;
    background-color: #5ea9c8;
}
.btn-primary:hover {
    background-color: #5598b4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #ffffff;
}
.btn-primary:active {
    background-color: #5ea9c8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.252);
}
.modal-backdrop {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0;
    z-index: 2;    
}
.modal {
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 6px;
    right: 65px;
    left: 65px;
    z-index: 3;
}
.modal .content {
    position: relative;
    border-radius: 3px;
    background: #fff;
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    box-sizing: border-box;
}
.modal .modal-header,
.modal .modal-footer {
    padding: 25px;
    box-sizing: border-box;
}
.modal .modal-footer {
    text-align: right;
}
.modal .modal-footer .btn + .btn {
    margin-left: 5px;
}
.modal .modal-body {
    padding: 0 25px;
    box-sizing: border-box;
}
.modal .content h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.modal .content .field {
    margin: 10px 0 30px 0;
}
.modal .content label {
    padding: 10px 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
}
.modal .content input, .modal .content textarea {
    padding: 6px 6px 6px 0;
    width: 100%;
    display: block;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    font-family: 'Roboto';
    transition: 0.3s;
}
.ng-invalid-minlength {
    border-color: rgba(184, 47, 0, 0.3);
}
.modal .content input:hover, .modal .content textarea:hover {
    border-color: rgba(0, 0, 0, 0.3);
}
.modal .content input:focus, .modal .content textarea:focus {
    outline: none !important;
    box-shadow: 0 1px 0 0 #5ea9c8 !important;
    border-color: #5ea9c8 !important;
}
.modal .content::before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 14px solid transparent;
    border-bottom-color: #aaa;
    top: -28px;
    right: 66px;
}
.modal .content::after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 13px solid transparent;
    border-bottom-color: #FFF;
    top: -26px;
    right: 67px;
}
.modal .content .error {
    text-transform: uppercase;
    color: #b82f00;
    font-size: 11px;
}
.comment-active {
    min-height: 250px;
}
.sorting-bar {
    min-height: 28px;
}
.sorting-bar__title {
    float: left;
    text-transform: uppercase;
    position: absolute;
    color: #adadad;
    font-size: 11px;
    font-weight: 500;
}
.sorting-bar__orders {
    float: left;
    margin-right: 90px;
}
.sorting-bar__order {
    float: left;
    margin: 0 10px;
    padding-bottom: 8px;
    cursor: pointer;
    color: #999999;
    font-size: 13px;
}
.sorting-bar__order--active, .sorting-bar__order:hover {
    color: #333333;
    border-bottom: 2px solid #5ea9c8;
}
.sorting-bar__orders-mobile {
    display: none;
}
.header-bar__logo {
    position: absolute;
    right: 10px;
    top: 5px;
}
.load-new-posts {
    font-size: 1.2em;
    text-align: center;
    color: #5ea9c8;
    cursor: pointer;
}
.load-new-posts:hover {
    background-color: rgba(94, 169, 200, 0.11);
}
.lb-posts {
    clear: both;
    margin-bottom: 20px;
    position: relative;
}
.lb-post {
    position: relative;
    border-bottom: 1px solid #CBCBCB;
}
.lb-post.ng-enter, .lb-post.ng-move {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
  opacity:0;
}
.lb-post.ng-enter.ng-enter-active,
.lb-post.ng-move.ng-move-active {
  opacity:1;
}
.lb-author {
    position: relative;
    margin-bottom: 20px;
}
.lb-author:after {
    content: '';
    clear: both;
    display: block;
}
.lb-author__avatar {
    display: block;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background: #B9B9B9 url("../images/avatar_64.png") no-repeat scroll 0% 0% / 100% auto;
    width: 50px;
    height: 50px;
    left: -80px;
}
.lb-author__name, .lb-author__date {
    float: left;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 13px;
}
.lb-author__comment {
    display: block;
    position: absolute;
    border-radius: 0;
    overflow: hidden;
    background: #FFFFFF url("../images/comment_64.png") no-repeat scroll 0% 0% / 100% auto;
    color: #BBBBBB;
    width: 50px;
    height: 50px;
    left: -80px;
}
.lb-author__date {
    padding-right: 20px;
}
.show-author-avatar .lb-author, .show-author-avatar .lb-item {
    margin-left: 80px;
}
.lb-item {
    clear: both;
}
}
.lb-post-date {
    float: left;
    padding-right: 20px;
}
.lb-updated-date {
    font-size: 10px;
    color: #adadad;
    text-align: right;
    text-transform: uppercase;
    margin-top: 20px;
}
.lb-updated-date span {
    color: #333333;
    font-weight: 500;
    font-size: 13px;
}
/* text */
article {
    font-size: 14px;
}
article b {
    font-weight: bold;
}
article p {
    margin: 1em 0;
}
/* images */
article .liveblog--card {
    font-size: 0.9em;
    line-height: 1.25em;
}
/* quote */
article blockquote {
    position: relative;
    margin: 30px 0 0 16px;
}
article blockquote p {
    font-size: 1.25em;
    line-height: 1.25em;
}
article blockquote p:before {
    content: "“";
    font-size: 3em;
    position: absolute;
    left: -0.3em;
    color: #7C7C7C;
}
article blockquote li {
    text-align: right;
    margin:10px 0;
}
article blockquote li:before {
    color: #7C7C7C;
    content: "—";
    margin-left: -20px;
    padding-right: 5px;
}
.item--embed__figure, .item--embed__illustration {
   width: 200px;
   float: left;
   margin-right: 20px;
}
.item--embed__only-illustration {
   width: 100%;
   float: left;
   margin-right: 20px;
}

.item--embed__description,
.item--embed__credit {
    padding-top: 10px;
}
.item--embed__title {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.25em;
    margin-bottom: .25em;
}
.item--embed__credit {
    text-align: right;
}
.item--embed__figure {
    position: absolute;
    width: 200px;
}
/* loading */
.loading {
    color: #5ea9c8;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 1em;
    font-weight: 300;
    opacity: 1;
    transition-property: opacity;
    transition-duration:.25s;
}
.loading.ng-hide {
    opacity: 0;
}
.lb-post-permalink {
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: visible;
}
.lb-post-highlighted {
    position: absolute;
    top: 10px;
    right: 30px;
    color: #f89406;
}
.toggleHighlights {
    color: #f89406;
    height: auto;
    padding: 2px 8px 1px 8px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(215, 215, 215, 0.7);
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
}
.toggleHighlights.active {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.252);
}
/* pinned posts */
.pin-posts .lb-post{
    background-color: rgba(94, 169, 200, 0.11);
}
.pin-drawer-info {
    color: gray;
    font-size: small;
    margin-left: 4px;
    text-transform: uppercase;
}
.pin-drawer-button {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 0;
    padding: 0;
    left: 50%;
    margin-left: -11.5px;
    background-color: #ffffff;
    z-index: 2;
    margin-top: -10px;
    line-height: 0;
    border-radius: 23px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.fa-chevron-fix {
    margin-bottom: 3px;
    margin-left: 1px;
}
.chevron-active {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.pin-drawer {
    background-color: rgba(94, 169, 200, 0.11);
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #e6f6ef; }
  100% { background-color: #FFFFFF; }
}
.lb-post-permalink-selected {
    background-image:none !important;
    -webkit-animation: fadeIt 5s ease-in-out;
       -moz-animation: fadeIt 5s ease-in-out;
         -o-animation: fadeIt 5s ease-in-out;
            animation: fadeIt 5s ease-in-out;
}
/* Languages settings */
.ro .sorting-bar__orders {
    padding-left: 95px;
}
.en .sorting-bar__orders {
    padding-left: 70px;
}
.fr .sorting-bar__orders {
    padding-left: 50px;
}
.de .sorting-bar__orders {
    padding-left: 75px;
}
.nl .sorting-bar__orders {
    padding-left: 50px;
}
/* Remove this is angular-gettext is updated */
[translate]{visibility:hidden !important;}

/* Media queries */ 
/* hide permalink on larger screens, show only on hover */
@media (min-width: 1025px) {
    .lb-post-permalink {
        visibility: hidden;
    }
    .lb-post:hover .lb-post-permalink {
        visibility: visible;
    }
}
/* adapt embed card to small screens
 * Remove the two cols layout
*/
@media (max-width: 650px) {
    .item--embed__illustration {
        position: relative;
        width: auto;
    }
    .item--embed__illustration ~ * {
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .lb-timeline {
        margin-top: 0;
    }
    .show-author-avatar .lb-author{
        margin-left: 50px;
    }
    .show-author-avatar .lb-item {
        margin-left: 0;
    }
    .lb-author__avatar, .lb-author__comment   {
        width: 40px;
        height: 40px;
        left: -50px;
    }
    .lb-author__date {
        float: none;
    }
    .sorting-bar {
        min-height: 38px;
    }
    .sorting-bar__title {
        display: none;
    }
    .sorting-bar__orders {
        padding-left: 0 !important;
        display: none;
    }
    .sorting-bar__orders-mobile {
        display: block;
    }
    .header-bar {
        padding: 0;
    }
}
@media (max-width: 320px) {
    .btn {
        padding: 8px;
    }
}