<table class="row-list table table-striped" >
    <tbody>
        <tr ng-repeat="blog in bl.blogs._items track by blog._id"
            ng-click="bl.openBlog(blog)">
            <td class="content">
                <h3>{{ ::blog.title }} <small>by {{ ::blog.original_creator }}</small></h3>
                <div class="description">{{ ::blog.description | htmlToPlaintext }}</div>
                <div class="time visible-phone">
                    {{ ::'Created' | translate}} {{ ::blog._created | reldate }},
                    {{ ::'updated' | translate }} {{ ::blog._updated | reldate }}.
                </div>
            </td>
        </tr>
    </tbody>
</table>