<script type="text/javascript">
    function openSocialShareWindow(location, width, height) {
        window.open(location,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=' + width +',height=' + height);
        return false;
    }
</script>
<div class="lb-timeline {{timeline.settings.language}}" ng-app="theme" ng-controller="TimelineCtrl as timeline">
    <div class="lb-timeline__header">
        <h1 ng-if="timeline.settings.showTitle" ng-bind="timeline.blog.title"></h1>
        <div class="illustration" ng-if="timeline.blog.picture_url && timeline.settings.showImage" ng-cloak>
            <img ng-src="{{ timeline.blog.picture_url }}" ng-srcset="{{ timeline.blog.picture_srcset }}" sizes="100vw"/>
        </div>
        <p class="description" ng-if="timeline.settings.showDescription" ng-bind-html="timeline.blog.descriptionHtml"></p>
    </div>
    <div ng-if="timeline.settings.livestream" class="livestream">
        <lb-posts
            ng-if='!timeline.stickyPagesManager.hideSticky'
            timeline="timeline"
            hide-info="true"
            posts="timeline.stickyPagesManager.allPosts"
            class="pin-posts" ng-cloak></lb-posts>
    </div>
    <div class="header-bar">
        <div class="sorting-bar">
            <div class="sorting-bar__title" translate>Sort by:</div>
            <div class="sorting-bar__orders">
                <div
                    class="sorting-bar__order"
                    ng-class="{'sorting-bar__order--active': timeline.pagesManager.order()=='editorial'}"
                    ng-click="timeline.orderBy('editorial')" translate>Editorial</div>
                <div
                    class="sorting-bar__order"
                    ng-class="{'sorting-bar__order--active': timeline.pagesManager.order()=='newest_first'}"
                    ng-click="timeline.orderBy('newest_first')" translate>Newest first</div>
                <div
                    class="sorting-bar__order"
                    ng-class="{'sorting-bar__order--active': timeline.pagesManager.order()=='oldest_first'}"
                    ng-click="timeline.orderBy('oldest_first')" translate>Oldest first</div>
            </div>
            <div class="sorting-bar__orders-mobile">
                <lb-dropdown placeholder="{{ 'Sort by:' | translate }}" list="timeline.sortOptions"
                selected="timeline.pagesManager.order()" order="timeline.orderBy(order)"></lb-dropdown>
            </div>
        </div>
        <div class="header-bar__actions">
            <div 
                class="toggleHighlights"
                ng-if="timeline.settings.hasHighlights"
                ng-class="{'active': timeline.highlightsOnly}"
                ng-click="timeline.toggleHighlighsOnly()"
                only-title="{{ 'Show highlighted post only' | translate }}"
                all-title="{{ 'Show all posts'| translate }}"
                title="{{ timeline.highlightsOnly? 'Show all posts': 'Show highlighted post only' | translate }}">
                <i class="icon-star icon--orange"></i> 
            </div>
            <button
                ng-if="timeline.settings.canComment"
                class="btn comment ng-cloak"
                ng-class="{'active': timeline.comment}"
                ng-click="timeline.comment = !timeline.comment"><i class="icon-comment"></i>{{ :: "Comment" | translate }}</button>
        </div>
        <div class="header-bar__logo">
            <img ng-if="timeline.output.logo_url" ng-src="{{ timeline.output.logo_url }}"/>
            <a ng-if="!timeline.output.logo_url" href="https://www.liveblog.pro" target="_blank">  
                <img ng-src="{{ timeline.templateDir}}images/lb-logo.svg"/>
            </a>
        </div>
    </div>
    <div class="timeline-body">
        <div lb-comments data-comment="timeline.comment"></div>
        <div
            class="lb-post emtpy-message" ng-cloak
            ng-show="timeline.pagesManager.allPosts().length + (timeline.settings.livestream? 0 :timeline.stickyPagesManager.allPosts().length)< 1 && !timeline.loading">
            <div translate>No posts for now.</div>
        </div>
        <section
            ng-class="{'comment-active': timeline.comment}"
            class="lb-posts list-group"
            infinite-scroll="timeline.fetchNewPage()"
            infinite-scroll-disabled="!timeline.settings.infinitScroll || !timeline.isAllowedToLoadMore()"
            infinite-scroll-immediate-check="true">
            <div class="lb-post load-new-posts"
                 ng-click="timeline.applyUpdates()"
                 ng-show="timeline.settings.loadNewPostsManually && (timeline.newPosts.length > 0 || timeline.newStickyPosts.length > 0)"
                 translate translate-n="timeline.newPosts.length + timeline.newStickyPosts.length"
                 translate-plural="See {{$count}} new updates" ng-cloak>
                See one new update
            </div>
            <div ng-if="!timeline.settings.livestream">
                <lb-posts
                    ng-if='!timeline.stickyPagesManager.hideSticky'
                    timeline="timeline"
                    posts="timeline.stickyPagesManager.allPosts"
                    class="pin-posts" ng-cloak></lb-posts>

                <div ng-if="timeline.stickyPagesManager.allPosts().length && !timeline.loading"
                    class="pin-drawer" ng-cloak>
                    
                    <div class="pin-drawer-info"
                         ng-if="timeline.stickyPagesManager.hideSticky"
                         translate translate-n="timeline.stickyPagesManager.allPosts().length"
                         translate-plural="{{$count}} pinned posts">
                        One pinned post
                    </div>
                    <button class="pin-drawer-button" ng-class="{'chevron-active': timeline.stickyPagesManager.hideSticky}"
                    ng-click="timeline.stickyPagesManager.hideSticky = !timeline.stickyPagesManager.hideSticky">
                        <i class="icon-chevron-up"></i>
                    </button>
                </div>
            </div>
            <lb-posts
                timeline="timeline"
                enhance="timeline.enhance"
                posts="timeline.pagesManager.allPosts"></lb-posts>
        </section>
        <button ng-click="timeline.fetchNewPage()"
                class="ng-cloak"
                ng-if="!timeline.settings.infinitScroll && timeline.isAllowedToLoadMore()" translate>Load more posts</button>
        <div class="loading" ng-show="timeline.loading" translate>Loading</div>
    </div>
</div>
