@import '~lb-mixins.scss';
@import '~lb-variables.scss';
// uploader.scss
// Styling for the liveblog upload submodule (blog image upload)

@mixin generic-upload-progress($height:2px) {
    position: absolute;
    height: $height;
    top: 0; left: 0; right: 0;
    z-index: 1;
    background: #f0f0f0;
    .bar {
        height: $height;
        background: $sd-blue;
    }
}

/*
======================================
blog image uploader
======================================
*/
.preview-full {
    width: 100%;
    height: 100%;    
}

.preview img {
    width: 100%;
}

.upload-form {
    .main {
        overflow: auto;
        .computer {
            height: 100%;
            .info {
                font-size: 12px;
                color: #5ea9c8;
                padding: 10xpx;
            }            
            .dropzone {
                height: 100%;
                @include box-sizing(border-box);
                border: 2px dashed #e0e0e0;
                .text {
                    text-align: center;
                    margin-top: 35px;
                    color: #ccc;
                    font-size: 30px;
                    @include text-light();
                }
                .input-holder {
                    text-align: center;
                    margin: 30px auto 0;
                    width: 175px;
                    input {
                        width: 100%;
                        height: auto;
                        cursor: pointer !important;
                    }
                    input::-webkit-file-upload-button {
                      visibility: hidden;
                    }
                    input:before {
                      content: 'or Select from computer';
                      display: inline-block;
                      background: -webkit-linear-gradient(top, #f9f9f9, #fff);
                      border: 1px solid #d0d0d0;
                      border-radius: 2px;
                      padding: 0 10px;
                      outline: none;
                      white-space: nowrap;
                      -webkit-user-select: none;
                      text-shadow: 1px 1px #fff;
                      font-size: 12px;
                      color: #787878;
                      @include box-sizing(border-box);
                      width: 100%;
                      text-align: center;
                      cursor: pointer !important;
                    }
                    input:focus {
                        outline: none !important;
                    }
                    input:hover:before {
                      border-color: #c0c0c0;
                      cursor: pointer !important;
                    }
                    input:active:before {
                      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                      outline: none;
                    }
                }
            }
        }
        
        .upload-progress {
            @include generic-upload-progress();
        }
        
    }
}
