$PADDING: 20px;
.general-settings {
    .content {
        padding: $PADDING;
        .form-group {
            display: table;
            content: " ";
            width: 100%;
            padding: $PADDING/2 0;
            .control-label {
                text-align: left;
            }
            .form-input {
                width: 50%;
                float: left;
                select {margin: 0;} // overwrite bootstrap
            }
        }
    }
}
